[2015-08-11 09:23] dreispt opened #3 "[ROADMAP] Use tags in message subject instead of mail alias"
# Purpose

Use tags in message subject instead of mail alias, to avoid requiring catchall mail server rules.

Currently Odoo incoming mail needs a "catchall" account, and then uses the email "to" address to match with a Mail Alias and attach the message to the corresponding record.

It is desirable to instead use an identifier tag in the email subject, thus removing the need to have a mail server

[2015-08-11 15:22] agb80 commented on #3
We have in the TODO for some time the integration from odoo with this mail service: https://www.nylas.com/ for exactly the same you want to do.

Maybe we can start work together!

[2015-08-11 21:16] dreispt commented on #3
Yes, that would be nice. Not something I can work in the short term, but I would like to validate the idea and see if more people feel the same need.

[2015-08-30 18:26] dreispt opened #10 "Add Labels to use for PR reviews"

[2015-08-30 18:46] pedrobaeza commented on #10
Done

[2015-08-30 18:46] #10 closed, assigned to nobody

[2015-08-30 20:05] dreispt commented on #10
Thanks!

[2015-10-14 00:54] pedrobaeza opened #20 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] mail_optional_autofollow - By @lmignon - #62
- [x] email_template_qweb - By @lasley - #57
- [ ] mail_as_letter
- [x] mail_attach_existing_attachment - By @sergio-teruel - #68
- [x] mail_debrand - By @darshan-serpent - #155
- [ ] mail_full_expand
- [x] mass_mailing_custom_unsubscribe
- [x] mail_

[2015-10-14 16:53] yajo opened #21 ""Click here to see mail content" module?"
Does anybody know if there is any module that adds functionality of displaying a mass mailing in a web page in case somebody cannot read it right in the mailing client?

[2015-11-21 14:49] rafaelbn opened #26 "[8.0] When you send an e-mail from Odoo with is the correct language: user (who sends) or partner (who receicves)"
Hi,

I know this is an Odoo issue, we opened here: https://github.com/odoo/odoo/issues/7896. But Odoo answers

This means: OCA is agree to fix this in OCB, OR OCA accept in this project a module which FIX this.

Resume:
- If you send a quote, sale order or an invoice, it will be sent in the language of the partner
- [TOFIX] If you send an e-mail to a Partner through the chatter in the partner's fo

[2015-11-21 14:51] rafaelbn commented on #26
I forgot that https://github.com/OCA/OCB/pull/330 is related.

[2015-11-21 17:34] dreispt commented on #26
If you are able to write a fix, you can do a PR to Odoo master and another one to OCB 8.0.
IMHO there's a good chance for it to be accepted in OCB.

[2015-11-24 10:23] mamaf opened #27 "mail_statistics_extra doesn't display any extra information"
See screen copy
![bug mail_statistics_extra](https://cloud.githubusercontent.com/assets/956701/11364028/cc9cf53e-929d-11e5-814c-75b2f70708fc.JPG)

[2015-11-24 10:25] pedrobaeza commented on #27
The module is still not merged, so please write in the corresponding PR, not here.

[2015-11-24 10:25] #27 closed, assigned to nobody

[2015-11-26 08:03] rafaelbn commented on #21
If we would like any aproach to make this module we must ping!

cc @sergio-incaser @carlos-incaser @antespi @pedrobaeza

[2015-12-01 15:18] stephankeller commented on #20
We are porting mail_attach_existing_attachment to V9.

[2015-12-01 15:18] pedrobaeza commented on #20
OK, noted

[2015-12-02 02:26] rafaelbn commented on #26
Maybe also related: https://github.com/yelizariev/addons-yelizariev/issues/88

OK @dreispt we will write a fix. Thanks

[2016-01-07 18:34] CarlesAntoli opened #35 "[8.0] Global name 'mail_id' is not defined"
Module "mass mailing Extra statistic"
When sending a mail displays the following error in the log:

"Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/openerp/

[2016-01-28 17:21] hbrunn commented on #35
fixed by #36

[2016-01-28 17:21] #35 closed, assigned to nobody

[2016-05-18 02:24] jf-fsw opened #59 "Unable to Import Module"
module: mail_forward
version: 8.0.7.0.0

**Steps to reproduce**
- Goto Settings - import Module - select file and import

**Current behavior**
error message...
Error while importing module 'mail_forward': '"ValidateError\nField(s) `arch` failed against a constraint: Invalid view definition\n\nError details:\nModel not found: mail_forward.compose_message\n\nError context:\nView `Forward Email Form`

[2016-05-18 02:59] jf-fsw commented on #59
Leave a comment

[2016-05-18 02:59] #59 closed, assigned to nobody

[2016-05-18 03:00] jf-fsw commented on #59
Installing by copying into addons folder worked.

[2016-05-27 10:24] lmignon opened #64 "[9.0] email_template_qweb: The generate method doesn't support to be called in a non multi_mode"
In the orverride of the `generate_email` method, we expect that the res_ids is always a list. https://github.com/OCA/social/blob/9.0/email_template_qweb/models/mail_template.py#L18
It's not always true and break the email generation when the method with an id.
https://github.com/odoo/odoo/blob/9.0/addons/mail/models/mail_template.py#L434

I'll provide a fix soon

[2016-05-30 11:11] #64 closed, assigned to nobody

[2016-06-17 05:09] Chugarbert opened #70 "When I selected users to send mail invitation portal, you ar not sent?"

[2016-06-17 05:10] Chugarbert opened #71 "When I selected users to send mail invitation portal, the invitation email is not sent?"

[2016-06-17 14:17] Chugarbert opened #72 "When I selected users to send mail invitation portal, the invitation email is not sent?"
module: portal_welcome_email_template
version: 8.0

**Steps to reproduce**
Go to sale/customer, select a enterprise and click in button more and clic portal access management.
Select a employee to send invitation and clic en appli
- ...

**Current behavior**
The invitation email isn't sent,
**Expected behavior**
The user obtain the portal invitation by email

[2016-06-17 14:51] pedrobaeza commented on #72
The module is working as expected in my side, so the e-mail not sent should be by another reason (e-mail server configuration).

[2016-07-09 00:53] rafaelbn commented on #26
Fixed in https://github.com/acsone/mozaik/commit/09dbc54a2c2d87b21c2316118bb17d535a056600
Commented in: https://github.com/odoo/odoo/issues/7896

[2016-07-09 00:53] #26 closed, assigned to nobody

[2016-08-29 04:51] fred-m commented on #3
@agb80, have you had any success with this integration?

[2016-08-29 15:22] agb80 commented on #3
Unfortunately we have been really busy with customer's projects and this is still on our TODO list.

[2016-09-05 17:09] erwintwr2 opened #84 "Unable to send email on new template"
module: mail_notification_email_template
version: 8.0

**Steps to reproduce**
- Install Sales module and activate technical settings
  -configure and test one outgoing server
- Create a new template for Quotation sent ( can keep most values the same as per the Discussions example) , although my final goal is to utilize fields from the sales Quotation
- Create a new draft quotation , add new follow

[2016-09-06 04:27] hbrunn commented on #84
post the full source code of the template you use

[2016-09-06 10:14] erwintwr2 commented on #84
apologies for the delay - i might have discovered a possible work around on the template. will test on my test server and production to be sure.

will give feedback once done (and post the template source)

[2016-09-06 14:09] erwintwr2 commented on #84
ok have retested  by adding partner_id.email as a destination, but results is still strange.

still get an error related to the template on the system log :

http://pastebin.com/rufKEc63

i received a email on the partner side with subject = partner name  ( not the quotation name)
on the user side, i receive an email  with  just " - quotation sent" in the subject line, thus still no reference to t

[2016-09-06 16:33] hbrunn commented on #84
line 380 in your log looks like the culprit. Put a breakpoint in https://github.com/OCA/social/blob/8.0/mail_notification_email_template/models/mail_notification.py#L68 and check what the value of `link_html` is. It will probably be `None`, caused by the partner having no user connected.

So check if it is true that this works for partners connected to a user, and fails otherwise. Then file a PR d

[2016-09-08 08:07] erwintwr2 commented on #84
Thank you for the update - i am not into the development per say, but will take a look at how debugging works when i get a chance :)

passwords has been changed - thank you for the warning

[2016-09-18 13:50] sysadminmatmoz opened #90 "No mail_footer_notified_partners after changing the api.one to api.model"
It seems that mail_footer_notified_partners does not function properly since the last module update. No errors in log, but the list of the notified partners is missing since the update (tried on several servers, databases and instances).

[2016-09-20 18:34] #72 closed, assigned to nobody

[2016-09-20 18:34] pedrobaeza commented on #71
Duplicated and no answer from the other side

[2016-09-20 18:34] #71 closed, assigned to nobody

[2016-09-20 18:34] pedrobaeza commented on #70
Also duplicated.

[2016-09-20 18:34] #70 closed, assigned to nobody

[2016-09-20 18:35] pedrobaeza commented on #21
This feature is not available. As this doesn't contain any blueprint on how to implement it, I close the issue.

[2016-09-20 18:35] #21 closed, assigned to nobody

[2016-09-20 18:36] pedrobaeza commented on #84
Closing this for now until more issues will be found

[2016-09-20 18:36] #84 closed, assigned to nobody

[2016-09-20 18:37] pedrobaeza commented on #3
Any activity in this? Should we close it?

[2016-09-20 18:49] hbrunn commented on #84
@pedrobaeza I was just waiting for @erwintwr2 to come back with a message if my analysis is correct that this happens with partners that don't have a user. Given I'm quite confident this is the problem, and it's a bug anyways, I added a fix for this, also without feedback about my proposal (whose lack I consider slightly rude)

[2016-09-20 18:53] pedrobaeza commented on #84
OK, thanks for the clarification. Anyways, it doesn't worth to open again the issue as the patch is there.

[2016-09-20 21:11] erwintwr2 commented on #84
@hbrunn  / @pedrobaeza . thank you for the updates. I will recheck ( although i am certain a partner gets assigned a user automatically). will recreate a blank database/ test server and test with non admin user to see if issues repeats.
can close the issue for now.
regards

[2016-10-02 13:58] sterbhai commented on #90
Confirmed: After finding this Issue reversed the changes in V8 and it is working again.

[2016-10-06 06:32] ecino opened #94 "[8.0] mail_notification_email_template: E-mails created with template are created with admin rights"
When using the module mail_notification_email_template, when sending a message from a chatter box, the generated e-mail is from user Administrator, and it creates user access rights problems when displaying the message.

When the module is not installed (or disable template), the generated e-mail is from the user sending the message. I think that this line is the problem :

https://github.com/OCA/

[2016-10-06 14:08] pedrobaeza opened #95 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] base_search_mail_content - By @mreficent - #180
- [x] email_template_qweb - By @dbo-odoo - #98
- [x] mail_as_letter - By @dbo-odoo - #100
- [x] mail_attach_existing_attachment - By @dbo-odoo - #99
- [ ] mail_compose_select_lang - By @dbo-odoo - #101
- [x] mail_debrand - By @pedrobaeza - #168
-

[2016-10-10 06:23] hbrunn commented on #94
the difference should rather be that the email generated has a different object it is attached to. Can you check this?

[2016-10-10 07:09] ecino commented on #94
This is the e-mail generated when clicking "send message" from the chatter box below a res.partner object :
![mail1](https://cloud.githubusercontent.com/assets/8435180/19228588/136f1890-8ec7-11e6-82cd-deaa3a202301.PNG)

This is the same e-mail generated when the module mail_notification_email_template is installed:
![mail2](https://cloud.githubusercontent.com/assets/8435180/19228669/ab37f87c-8ec7-

[2016-10-10 07:16] hbrunn commented on #94
First: One email to be sent out, the message to be shown under the object in question
Second: It should. I'm not aware of any sudoing involved here, so I'd suggest to debug through to see what's going on there.

[2016-10-10 07:26] hbrunn commented on #94
you can probably circumvent your problem by setting auto delete on the email template

[2016-10-10 07:42] ecino commented on #94
First: but why without the module, it creates only one mail.message record ? It still generate an e-mail, plus the message is in the mail thread in the object.

Auto delete was set on the template, so this does not change the behaviour. Maybe I have another module that does this sudo? I will try to debug and see if I can find the issue. Could you confirm if you have the same behaviour?

[2016-10-10 09:36] ecino commented on #94
Even with debugging I cannot explain this behaviour, so any help would be appreciated. Here are a few other observations I made:
- email generated with the module have not the "is notification" checkbox
- email generated with the module have not the "reply to" field set
- email generated with the module is from "Administrator" instead of User, like if the user is not detected from the email_from f

[2016-10-11 20:02] bouvyd commented on #95
Hi,

For [Hackotberfest](https://hacktoberfest.digitalocean.com/), I've decided to do something useful and have a look at OCA modules in need of a migration to 10.0. Also, the Odoo Experience reminded me how the community can be motivating at times (which is not apparent if you work in support :stuck_out_tongue: ), so here I am migrating things...

I've done the first four modules in your list (no

[2016-10-11 21:15] pedrobaeza commented on #95
Damien, thanks for your contribution! It's good to see this kind of initiatives. I'm writing the PRs you have contributed in the issue.

[2016-10-14 20:38] bouvyd commented on #95
About `mass_mailing_custom_unsubcribe`, I'm not really sure the module is still needed since the link is easily editable in the template with the mass mailing template editor in v10 (with the added bonus of translation support). I'll leave that one for someone else if anyone wants it :-)

[2016-10-14 23:35] lasley commented on #95
You're a beast @dbo-odoo - all modules upgraded to v10 outside of the `mass_mailing_custom_unsubcribe` which I agree now duplicates Odoo core feature-set.

[2016-10-15 00:11] pedrobaeza commented on #95
Indeed he has made a real achievement: migrate a full repo!

Does core unsubscribe allow to specify a reason for unsubscribing?

[2016-10-15 00:22] pedrobaeza commented on #95
@dbo-odoo Maybe you want to migrate other 8.0 modules that don't get to 9.0 because they were developed after the branch creation, like https://github.com/OCA/social/tree/8.0/mail_tracking_mass_mailing or https://github.com/OCA/social/tree/8.0/mass_mailing_sending_queue? :wink:

[2016-10-15 13:47] rafaelbn commented on #95
About https://github.com/OCA/social/issues/95#issuecomment-253913196 @dbo-odoo  `mass_mailing_custom_unsubcribe` there are more functionalities we must take care like Unsubscription Reasons https://github.com/OCA/social/blame/8.0/mass_mailing_custom_unsubscribe/README.rst#L38
If we migrate from v8 to v9 and v10 that info cannot be lost.

[2016-10-16 20:40] rafaelbn commented on #20
Hi, I think there are some modules here missing to migrate, isn't it?

[2016-10-16 21:00] pedrobaeza commented on #20
That's because they were developed after the creation of the branch. Feel free to add them here.

[2016-10-17 04:45] #90 closed, assigned to nobody

[2016-10-17 17:47] pedrobaeza commented on #94
Closing as fixed

[2016-10-17 17:47] #94 closed, assigned to nobody

[2016-10-17 17:47] pedrobaeza commented on #3
Closing as no activity

[2016-10-17 17:47] #3 closed, assigned to nobody

[2016-11-03 00:56] lasley opened #121 "RFC: Message Anti-Spam Module"
We are currently planning a new module to combat spam messages in Odoo. The plan at the moment is to implement a basic backpropagation algorithm [similar to this](http://radimrehurek.com/data_science_python/).

The algorithm will be trained initially using some open source datasets like [Enron](http://www.aueb.gr/users/ion/data/enron-spam/), [SpamAssassin](https://spamassassin.apache.org/publiccor

[2016-11-03 01:09] rafaelbn commented on #121
😲 Thats could be great!

[2016-11-03 08:04] tarteo commented on #121
@rafaelbn agree!

[2016-11-03 08:07] hbrunn commented on #121
sounds technically interesting, but what's your reasoning not to let the mailserver do this? And maybe add a module that reacts to the headers spamassassin or whoever sets?

[2016-11-03 12:12] yajo commented on #121
On one side, it's an amazing project, some ideas that came to my mind:
- A good job for [TensorFlow](https://www.tensorflow.org/)? That's what Google uses AFAIK...
- Maybe you could benefit from magma project.

On the other side, @hbrunn's idea might be much easier to implement, with quite close results.

[2016-11-03 15:28] lasley commented on #121
@hbrunn - My main intent behind this is not necessarily to combat messages coming through email, but instead messages coming through the web interface.

One of the current blockers for me getting rid of Wordpress is the ability to have a blog that isn't immediately spammed to hell. I currently use [Akismet](https://akismet.com/), but it's non-free so I don't want to bother making an Odoo plugin.

[2016-11-03 16:10] ivantodorovich opened #122 "[?][8.0][mail_tracking] How to track user clicks"
@pedrobaeza @antespi, I ping you two because you are the contributors of this module.

I'm trying to figure out how to track user clicks on email links.
I thought it was possible, because the `event_type:` `click` exists and its tested.

However, after looking at the controller's code, it seems there's no route to handle this event (IMO: it should track the event and then redirect to the desired u

[2016-11-03 17:24] antespi commented on #122
This functionality is not implemented. mail_tracking is also a base addon for other ones that integrate event webhooks, for instance, mail_tracking_mailgun.

This could be a good improve to mail_tracking. In order to have a todo list, we have to:
- Create a new table in order to save the relation of link to an unique token.
- Replace all links in email body with the link to a new controller (this

[2016-11-03 17:47] ivantodorovich commented on #122
Yeah, that will be really good.

I already solved my pressing issue using Google Analytics, but I'll make a PR with this improvements as soon as I have the time. Having all the tracking data in Odoo would be really awesome.

[2016-11-03 19:20] pedrobaeza commented on #122
Don't close this then until it's done. I assign you in the issue.

[2016-11-03 19:23] pedrobaeza commented on #122
In Odoo v9, it must use the existing link tracker from Odoo.

[2016-11-04 13:42] ivantodorovich commented on #122
~~I'm looking into this.
In order to replace all the original links in the email, I'm thinking of taking advantage of the beautifulsoup library.
Would that be ok, or should I try to do it using regexp?~~

Nevermind. I think I got it working with just regexp.

[2016-11-07 08:41] yajo commented on #121
OK I had a couple of mistakes there. I didn't remember the name of the man who was in charge of the project (I found him now: @OSevangelist :blush:), and the project is Mackma Project, not Magma :laughing:. [He spoke about it in last OCA sprint](https://docs.google.com/document/d/1sCK_NaHFF82fYfbzG4fONEySsjK_GbgQ-XUI8ph_8j8/edit#heading=h.h8ijro4y5wm1). They are planning to implement big data mana

[2016-11-07 08:43] yajo commented on #121
BTW, this might give you some ideas too @lasley: https://github.com/OCA/website/tree/10.0/website_crm_recaptcha

[2016-11-07 16:43] lasley commented on #121
Oh sweet yeah as I've been learning the ML required for this, I've realized it can be used for a lot of other things. Mackma Project sounds interesting, I was unaware that it was being abstracted for base use. I'm not really able to find much information on it though, so maybe @OSevangelist can enlighten a bit more?

Hah I made that ReCaptcha plugin @Yajo - it's my spam stopgap for CRM for the mom

[2016-11-15 12:24] ecino opened #131 "[8.0][mail_notification_email_template][mail_tracking] Tracking status not visible in object thread"
When using both modules mail_notification_email_template and mail_tracking, I have issues in the mail threads with the icon tracking the message because :

- When a message is posted, it creates a new mail.notification record for the e-mail with template
- The e-mail is sent and the tracking is attached to the message of the mail.notification object
- In the thread, the message displayed is not th

[2016-12-15 06:02] lukebranch opened #139 "[10.0] RFC: Mass Mailing Theme Boilerplate (Community)"
I've written a mass mailing theme template:

https://github.com/OdooCommunityWidgets/mass_mailing_themes_boilerplate

based on the default (community) mass mailing theme here:

https://github.com/odoo/odoo/blob/10.0/addons/mass_mailing/views/snippets_themes.xml

The template is still very much a work in progress, however it provides a boilerplate for others to customise and built their own mass ma

[2016-12-15 07:10] rafaelbn commented on #139
@Yajo @pedrobaeza @sergio-teruel this could be interesting eventhough we work in v9 in this moment

[2016-12-15 09:02] yajo commented on #139
Template is in https://github.com/OCA/maintainer-tools/tree/master/template/module, please open PR there adding missing files. Ping me when you do, thanks!

[2016-12-15 09:11] pedrobaeza commented on #139
@Yajo

[2016-12-15 09:11] pedrobaeza commented on #139
@Yajo, you have closed it very quick. Please read again the RFC. It's nothing to do with the README template.

[2016-12-15 09:46] yajo commented on #139
Sorry, is this a real addon? Or is it just a template for mass mailing themes?

[2016-12-15 10:03] lukebranch commented on #139
@Yajo ,

The module will be a mass mailing theme in a standalone module (mass_mailing_themes_boilerplate) using a best-practices approach for the basic theme template to act as a framework for others to build their own custom mass mailing themes on top of. In it's current state it is still very much a WIP, I just wanted to get some feedback before going much further.

I am also planning on expandi

[2016-12-15 10:06] yajo commented on #139
Then this is the right repo, I misunderstood, sorry 😞

Please open WIP PR and let's review there 😊

Thanks!

[2016-12-15 10:06] #139 closed, assigned to nobody

[2016-12-15 10:09] lukebranch commented on #139
@Yajo ,

Ok, brilliant, thanks! I'll ping you all once I have a PR ready for review.

[2017-01-04 01:29] cvinh opened #145 "[8.0-mail_mandrill] Mandrill future ?"
Hello @rafaelbn @antespi
I'm sorry to ask that question here because it's not an issue...
Since Mandrill dramatically increased their prices in april 2016, do you plan to develop a new module for another platform ? (sendinblue, mailjet, sendgrid... or else)
Thanks in advance for your reply
Cyril

[2017-01-04 01:34] rafaelbn commented on #145
We did! https://github.com/OCA/social/tree/8.0/mail_tracking_mailgun 😄

[2017-01-04 01:34] #145 closed, assigned to nobody

[2017-01-04 01:35] cvinh commented on #145
Thanks !!

[2017-02-26 19:05] tpxxx opened #153 "Problems with character encoding"
module: email_template_qweb
version: 10.0

**Steps to reproduce**
insert some non standard characters like äöü into the qweb e-mail template code, e.g.

`<t t-name="email_template_qweb.view_email_template_demo1">

        <t t-call="email_template_qweb.view_email_template_corporate_identity">

            <t t-set="email_heading" t-value="email_template.subject"/>
            <h2>Dear <t t-esc="ob

[2017-02-26 19:11] pedrobaeza commented on #153
Unfortunately your characters are also not shown in GitHub issue (at least not for me), so please change the text to be visible. Anyway, I think is something not with the module, but with QWeb, or the use you are making of it. If you get these characters working in for example a QWeb report, but not here, then it's an issue with this module.

[2017-02-26 19:19] tpxxx commented on #153
Hello,

thank you very much for the quick answer. I made a screen shot of my original comment, which should now show all characters:
![grafik](https://cloud.githubusercontent.com/assets/26045700/23342763/5bf9d832-fc60-11e6-8704-11cb23099372.png)

Concerning the QWeb reports, everything works fine, i.e. all characters are shown as expected. The problem only shows up when using QWeb as email templat

[2017-02-26 19:25] pedrobaeza commented on #153
Well, the characters then seems to be the same (I was expecting other characters like japanese, chinese or similar). I'm from Spain, and I remember to apply several patches for making this work with accented characters and the Ñ character, but now it should be working. Check https://github.com/OCA/social/commit/09f821931aa346018abf6c2a76212bb8730d10f7 and https://github.com/OCA/social/commit/5d2a3

[2017-02-26 19:25] #153 closed, assigned to pedrobaeza

[2017-02-26 20:47] tpxxx commented on #153
I applied both fixes and now everything works fine. Thank you very much!

[2017-02-26 20:53] pedrobaeza commented on #153
Please make the PR for amending this for all.

[2017-03-24 10:30] jcdrubay opened #160 "[8.0] mail_debrand not working"
I tried to use mail debrand locally and it did not work for me, the last line mentioning about Odoo was still appearing.

I looked at the code and I did not understand how it could work.

mail_debrand seems to override the function `get_signature_footer` from `odoo/addons/mail`, but the function has a wrong name (extra `_` as first character) to override: `_get_signature_footer` instead of `get_si

[2017-03-24 10:49] pedrobaeza commented on #160
Maybe it has been a renaming in Odoo... Please make the PR

[2017-04-07 11:05] whotopia opened #162 "[8.0][mail_tracking_mass_mailing] Error and emails not being sent"
I have the mail_tracking_mass_mailing and mail_tracking modules installed.   Outbound emails are not working properly.  Even if I remove the mass mailing modules, the email still doesn't work.    I get the error in my logs as follows:

`
2017-04-07 10:57:12,734 4958 ERROR xxxx-yyyy-org openerp.addons.mail.mail_mail: failed sending mail.mail 3230
Traceback (most recent call last):
  File "/usr/lib/

[2017-04-07 13:26] pedrobaeza commented on #162
You have updated the code but haven't updated your modules in Odoo.

[2017-04-07 13:26] #162 closed, assigned to nobody

[2017-04-17 16:42] lasley commented on #121
Alright so the machine learning on this ended up being an insane rabbit hole. I learned a lot, but I think anything I implement will still be sub-par.

That said, I recently found [`PyZor`](https://pyzor.readthedocs.io/), which could serve our needs. It's basically just a crowd-sourced message signature checker, which works pretty damned well from my initial tests.

Has anyone used PyZor before? T

[2017-04-18 20:14] lasley opened #165 "[RFC] mail_followup: Abstract Followup Messaging"
This module will allow for customizable outbound emails for any record. A few use cases are for medical appointments (what to bring, arrive early, etc), car repair (notice of warranty and rights), and just simple sales followups.

It will add a new model `mail.followup`, which will:
* Allow for you to choose a model to operate on
* Allow for you to choose a domain filter for records to match (simi

[2017-04-18 21:08] pedrobaeza commented on #165
Isn't better to add to the mass mailing module the periodicity feature? The rest is already there.

[2017-04-19 16:56] lasley commented on #165
@pedrobaeza well now that's an interesting take on it, which I think could work well. There's still some missing pieces, but I absolutely love the features we would gain by going this direction. I haven't used the Mass Mailing module much, so apologies if these questions are stupid.

Would each email type be considered a "campaign" basically? So in the instance of event reminders, there would be a

[2017-05-30 10:09] yajo commented on #121
No experience on that at all, but it seems a good choice. Honestly I don't feel like being able to judge about a machine learning PR, but a PR that uses a library can be easily evaluated. I feel we are not the anti-spam design crew.

[2017-06-01 11:12] dreispt opened #169 "[RFC] Enable bots by parsing commands in mail messages"
Example use cases:
* Reply to a Task mail notification with a message containing something like "!!close" to trigger a server-side action closing that Task.
* Reply to a Lead mail notification with a message containing something like "@crmbot open amounts" to trigger a server-side reply mail with a list of the Partner open amounts.

[2017-06-01 14:52] yajo commented on #169
Messages would arrive to all followers?

[2017-06-01 15:37] dreispt commented on #169
Good point. Indeed that's the default behaviour.

A solution could be to "capture" messages that begin with a "@", so that these are forwarded to the corresponding bot, and committed from the Chatter wall.
Ideally, this message exchange with the bot could happen on it's own private channel.

[2017-06-01 15:53] lasley commented on #169
How would we prevent malicious usage? A security group of people allowed to issue commands?

[2017-06-01 16:06] dreispt commented on #169
@lasley You are replying to a "mail thread" - AFAIK the reply mail must have the Message ID  of the thread.
But all this is plain text, and you could spy on the recipient's communications you can get that ID and impersonate him.
Or be an insider, the thread MessageID, and then forge an email from the person authorized to perform the desired action.

Maybe important operations should require a conf

[2017-06-01 19:11] yajo commented on #169
Confirmation mail adds no security IMHO... https://github.com/odoo/odoo/issues/11376 would be a problem, for instance.

[2017-06-01 22:51] dreispt commented on #169
The issue you link to can be solved with https://github.com/OCA/social/issues/169#issuecomment-305532305

[2017-06-01 23:08] lasley commented on #169
I'm assuming the message ID is a UUID-4, just like all the other tokens in the system. While I would argue the security behind this implementation, the system considers it secure, so we probably should too. In that light, we'd probably be fine trusting the token in the email and optionally creating a module like OCA/server-tools#835 to lock it down.

Yeah we're probably good here too. Anyone with

[2017-06-02 08:40] dreispt commented on #169
Well, not quite. For example: we could have several followers, but only the Manager would have approval authorization. A resourceful follower Employee could forge a mail impersonating the Manager.

I'm aware this proposal is not perfect from a security PoV, but hopefully it is good enough for a good range of use cases.

An html2text is needed for that, but it sounds doable.
AFAICR Odoo already inc

[2017-06-02 09:44] yajo commented on #169
I only see one single use case for this proposal: being able to control Odoo through email, saving time and effort.

If the manager must approve any requests made by anybody, the time saving is lost, and then I cannot imagine a use case.

OTOH we have to keep in mind that training users to use this would be very hard. And what about translations? Not sure in your country, but here not much people

[2017-06-07 18:57] lasley commented on #169
Couldn't we inspect the email headers to circumvent this, matching the user against the address in the `From` header?

One could reasonably assume that inbound emails have already passed spam protection (DMARC & SPF minimal), thus the sender domain is validated.

IMO domain validation is good enough, because traceability is still there. If a resourceful employee does decide to get out of line, the

[2017-06-08 08:00] dreispt commented on #169
I think "mail commands" can be useful for low impact actions, such as adding a Tag to an Issue (like some Github bots).
For more important actions, such as formal Approvals, action buttons on emails that link to an auth protected website page are a good solution.

So, in summary, IMO both approaches are complementary and adequate for different use cases.

[2017-06-23 21:09] lasley opened #175 "[RFC] mail_thread_recursive: Multiple threads per record"
This module will provide the ability for true threaded conversations on Odoo models. In the current implementation of `mail.thread`, a record is considered to have one thread & is therefore considered one discussion. In some contexts, however, multiple independent discussions may be occurring - all with their own context and followers.

An example of this is a blog, such as [this article](https://

[2017-06-24 08:31] lukebranch commented on #175
I've come across this need a number of times, it's definitely something that would be very useful for Odoo.

I've seen a rough implementation of this concept in Slack:

<img src="https://user-images.githubusercontent.com/2337666/27507040-9b5855c6-58f9-11e7-8f9f-25909047fcb3.png" />

I don't have anything useful to add to the discussion at this point in time, however i'll comment back if I come up

[2017-06-24 08:41] hbrunn commented on #175
I'm also petting with such an idea for a while, also without tangible results yet. What I can throw in however is this: Add a model `mail.category` (or call it label/thread or whatever) that defines possible categories (labels/threads) on messages for some model(s) or all. Then we define some rules like that a reply inherits the categories of its parent message. This way, we can categorize message

[2017-06-29 13:53] diggy128 commented on #160
I can also verify the issue.
Removing _ from the function name resolves the issue.

[2017-06-29 13:54] pedrobaeza commented on #160
Please make the PR

[2017-06-29 14:05] diggy128 commented on #160
Done #176

[2017-06-30 08:54] ecino commented on #95
I have done the migration of `mail_tracking_mass_mailing` in #177

[2017-07-17 15:52] liebana commented on #121
We are going to take a look to PyZor, does anyone have any news to share?

[2017-07-17 17:11] lasley commented on #121
I've played with it now and think it's a good fit for this project. At this point, it's successfully identified all spam that has come through on an unsecured form honeytrap.

We're a bit overloaded at the moment though & this is somewhat of a side thing for me, so I haven't been able to allocate any dev time to create the actual module. IMO the hardest part is going to be the workflow - PyZor was

[2017-07-18 21:27] JordiBForgeFlow opened #183 "[9.0][10.0] mail_notify_exclude_notification"
I would like to propose to migrate to OCA part of the module from @alexis-via,
https://github.com/akretion/odoo-usability/blob/10.0/mail_usability/mail.py, that deals with allowing users to choose if they want to exclude the partner from receving notifcations (e.g. invoice created, etc.).

We will add some test cases.

[2017-07-18 21:28] JordiBForgeFlow commented on #183
cc @mreficent, @lreficent

[2017-07-19 03:11] hbrunn commented on #183
Isn't this a less powerful version of https://github.com/OCA/social/tree/8.0/mail_follower_custom_notification ?

[2017-07-19 06:05] yostashiro commented on #183
Another simple example around email notification although the requirement behind may not be so generic: https://github.com/rfhk/cip-custom/tree/10.0/mail_force_email

[2017-07-30 00:12] lasley opened #186 "[RFC] bus_presence_override: Chose availability states"
Currently Odoo presence (IM availability) states are based purely on a hard coded [AWAY_TIMER](https://github.com/odoo/odoo/blob/fc2e80cb4bcc450762c7ac5cb82a3e2d88062b38/addons/bus/models/bus_presence.py#L11), which is set at 30 minutes of inactivity. `bus_presence_override` module will improve upon this logic by providing the ability for users to select their current availability state - as you w

[2017-08-05 15:59] abhishekkumaresan commented on #95
Hi,
Anybody migrating mail_compose_select_lang
I am trying to migrate it, but I am not able bring the translated template (ie), I click on a language from force_language drop-down,The onchnage_template_id method is  called but the output returned is in the same language(english)

I could not find where I am going wrong,
I  compared the methods in the call stack of this process between odoo8 and od

[2017-08-05 16:01] pedrobaeza commented on #95
You can see in https://github.com/OCA/social/pull/101 the reasons why it's not easily done, but anyway that part seems to be done there.

[2017-08-05 17:21] abhishekkumaresan commented on #95
@pedrobaeza Thank You

[2017-09-04 10:06] LoisRForgeFlow commented on #183
@hbrunn could be but this module fix exactly our requirement.

@alexis-via are you ok with the migration to OCA?

[2017-09-08 18:06] lasley commented on #121
Closing to track in #193

[2017-09-08 18:06] #121 closed, assigned to nobody

[2017-09-12 15:00] lasley opened #194 "[RFC] mail_outbound_static: Email FROM Headers"
This module will allow you to configure the FROM header for any outbound email server, overriding the default operation of using the partner's email address in the FROM header.

The reasoning behind this is because manipulation of the FROM header is exactly what spammers do, and is called [email spoofing](http://searchsecurity.techtarget.com/definition/email-spoofing). This is why all of my emails

[2017-09-12 15:10] lasley commented on #194
cc @gdgellatly

[2017-09-12 18:28] gdgellatly commented on #194
@lasley my own solution is to use my personal email address rather than
work ones.

One possibility i can think of is a secondary partner domain. Either a
subdomain or completely different which is automatically used when an email
address is not the main domain.

But more simply, why not just use the reply to as the from when domain
doesn't match and just manipulate the extra parts of the from hea

[2017-09-12 19:23] gdgellatly commented on #194
Or actually, what GitHub does is perfect

On Wed, 13 Sep 2017, 6:28 AM Graeme Gellatly <gdgellatly@gmail.com> wrote:

[2017-09-12 19:45] lasley commented on #194
work ones.

Even my personal emails are on my own domain, so I'm screwed here.

subdomain or completely different which is automatically used when an email
address is not the main domain.

doesn't match and just manipulate the extra parts of the from header., E.g <
list@odoo.com> Odoo list (on behalf of x@x)

With SES, you have to verify each outbound email address individually. Any sort of FROM h

[2017-09-12 20:06] gdgellatly commented on #194
There are 2 cases I think. Mail from domain users. We handle this by using
an authenticated IP specific mail relay to a whitelisted corporate mail
server.

So user Bob emails partner x a quote.

In that case from header manipulation is ok or even desirable.

Everything else, I agree, there's no point to manipulating it. In fact,
when you look at smart inboxes these days, e.g automatically labelled

[2017-09-12 21:22] lasley commented on #194
Closing to track in PR #195

[2017-09-12 21:22] #194 closed, assigned to nobody

[2017-09-21 14:03] SimoRubi commented on #95
Hi,
I'm working on the migration of module mail_footer_notified_partners

[2017-09-22 07:36] pedrobaeza commented on #95
OK, noted in the main comment. As per OCA policy (https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md#modules), better to stick to singular names, so I suggest you to rename to mail_show_notified_partner.

[2017-09-22 13:59] SimoRubi commented on #95
Sure, I've renamed the module and created the PR #200

[2017-10-03 14:59] pedrobaeza opened #203 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] base_search_mail_content - By @cubells - #282
- [x] email_template_qweb - By @celm1990 - #250
- [x] fetchmail_thread_default - By @chienandalu - #339
- [ ] mail_as_letter
- [x] mail_attach_existing_attachment - By @ernestotejeda - #260
- [ ] mail_compose_select_lang
- [x] mail_debrand - By @

[2017-10-26 17:29] woodbrettm commented on #186
@lasley interestingly there have been cases where a "New Message" link shows up right in the red box area you specified. I'm not sure what triggers it to show up because it seems it rarely does.

Perhaps we should put the status below the list of notifications (with a break line, below the 'general' notification).

Or what about a new icon on the navbar? Next to the chat bubble symbol we could hav

[2017-10-26 18:24] lasley commented on #186
New icon will be best

[2017-11-06 07:10] pedrobaeza commented on #160
Fixed in #209

[2017-11-06 07:10] #160 closed, assigned to nobody

[2018-02-08 17:33] sbidoul opened #229 "Backport of Odoo 11 mail_activy"
We are planning to do a simple backport of Odoo 11 mail_activity: https://github.com/odoo/odoo/blob/11.0/addons/mail/models/mail_activity.py

Our plan is to migrate the models and see if we can do a simpler UI, perhaps in a notebook page you can mix-in in the views.

Our target is 9.0.

Is there any other effort in progress in this area, or other thoughts about this?

[2018-02-08 17:36] hbrunn commented on #229
https://github.com/OCA/social/pull/204,version 10, but if we indeed don't do any heavy js-stuff the module should be pretty much the same for 9 and 10

[2018-02-08 17:37] hbrunn commented on #229
I'd even be of a mind to have one addon for the data model, and one for the UI. In my current project, I'm only interested in the data model

[2018-02-08 17:39] sbidoul commented on #229
Thanks for the pointer. How did I miss it.

I also had this idea to do a different module for the UI.

[2018-02-09 22:09] collex100 opened #230 "10.0 [mass_mailing_partner] you need to make corrections to the code"
In document mail_mass_mailing_contact.py, you need to replace the line:
`list_id = vals.get('list_id', self.list_id.id)`
on
`list_id = int(vals.get('list_id', self.list_id.id))`

[2018-02-09 22:39] pedrobaeza commented on #230
No if you pass correctly the values.

[2018-02-09 22:39] #230 closed, assigned to nobody

[2018-02-09 22:46] collex100 commented on #230
Because of this value:
 `list_id = vals.get('list_id', self.list_id.id)`
module **html_form_builder** can not make a record in the **module mail.mass_mailing.contact**.
I did not find another solution.

[2018-02-09 22:57] pedrobaeza commented on #230
That should be an integer, not an string. And that module is not OCA (or the name is incorrect).

[2018-02-09 22:59] collex100 commented on #230
Module: https://www.odoo.com/apps/modules/10.0/html_form_builder/

[2018-02-09 23:13] pedrobaeza commented on #230
As said, the problem is with that module.

[2018-02-09 23:19] collex100 commented on #230
Thanks for the answer.

[2018-02-14 23:40] keyman1986 opened #231 "Help"
I added the following into odoo system parameters:

![image](https://user-images.githubusercontent.com/10662093/36233926-93a344d4-11a5-11e8-9039-760e538c4b1b.png)

The keys and values didn't exist till I added them.  Am I missing something I can't get the webhooks to work, when I test them in Mailgun they all fail "Response: <type 'exceptions.Exception'>"

Thanks I am using Odoo 10 Enterprise

[2018-02-15 18:06] collex100 opened #234 "[10.0] Mail tracking for Mailgun"
I installed the module Mail tracking for Mailgun. I entered the parameters:
mailgun.apikey:
mailgun.api_url:
mailgun.validation_key:

When checking mail or by pressing the Re-sync Mailgun button, I receive the following message:
[code]
What could this mean?
Tnanks!

[2018-02-15 18:08] pedrobaeza commented on #234
It seems to be incorrect Mailgun parameters.

[2018-02-15 18:08] #234 closed, assigned to nobody

[2018-02-15 18:09] pedrobaeza commented on #231
Incorrect Mailgun parameters.

[2018-02-15 18:09] #231 closed, assigned to nobody

[2018-02-15 21:18] keyman1986 commented on #231
Thanks,

Please elaborate. Am I setting them in an incorrect area or fashion?

[2018-03-05 03:54] travish2 opened #241 "[10.0] mail_debrand, text to match has changed"
Emails in v10 are being sent with a "Powered by Odoo" branding instead of "using" and "Odoo"

Is it feasible to extend the module to remove both instances of "Powered by Odoo" and "Sent using Odoo"?

![image](https://user-images.githubusercontent.com/30615274/36956913-17b60584-2085-11e8-9031-b01d01c11309.png)

[2018-03-05 08:32] pedrobaeza commented on #241
It hasn't changed, but this is another thing. It's used when you are assigned to something. You usually do this for your employees , so it's not as needed as the other one, but you can make a PR improving the module if you want. I think this is a mail template that you can change.

[2018-03-05 22:15] travish2 commented on #241
Hi pedrobaeza, thank you for your reply.

The "Powered by Odoo" is also showing up in invoices:
![image](https://user-images.githubusercontent.com/30615274/37002510-1373e34e-211e-11e8-8432-358ea121beab.png)

Thank you for the heads up on the template, I have removed it from there.

[2018-03-05 22:25] pedrobaeza commented on #241
Yeah, as that are templates, you can manually change them. The module doesn't change that part.

[2018-03-24 19:52] celm1990 commented on #203
email_template_qweb PR #249

[2018-04-12 14:09] ecino commented on #95
Added module mail_forward in #256

[2018-04-12 21:37] #122 closed, assigned to ivantodorovich

[2018-04-19 09:22] cuongnmtm opened #261 "[10.0] mail_sendrid, Error: No module named simplejson"
I put `simplejson` into file requirements.txt and it solved this issue.

[2018-04-19 10:25] pedrobaeza commented on #261
Version and module in the title, please.

[2018-04-19 14:15] ecino commented on #261
done in #262

[2018-04-23 11:30] dvspiner opened #263 "How to override chat_manager.js of mail module?"
Good evening friends please help me I would like to know how to inherit the mail.chat_manager file from odoo and modify the functions of the ChatManager varibles. thank you

``odoo.define('mail_modern.chat_manager', function (require) {
    "use strict";

    var bus = require('bus.bus').bus;
    var utils = require('mail.utils');
    var config = require('web.config');
    var Bus = require('web.

[2018-04-23 11:33] pedrobaeza commented on #263
Sorry, this issue tracker is only for notifying problems with the modules in this repository. Ask on the forums or mailing lists about your question.

[2018-04-23 11:33] #263 closed, assigned to nobody

[2018-04-25 14:39] LoisRForgeFlow commented on #203
mail_debrand https://github.com/OCA/social/pull/265

[2018-04-25 19:11] collex100 commented on #234
I tried everything. There are only three parameters to enter. It's difficult to mix something up. Webhooks works fine. But Re-sync Mailgun  produces the same error. Just three parameters, what could be wrong?

Help me please.

[2018-05-17 07:13] adrianlaraperez88 opened #275 "In local odoo working y en production nop"
Local odoo 11 email gmail, default odoo.config

Production odoo 11 email goddady
Odoo conf:

db_name = production_demo_final_email_track
list_db = False

[2018-05-17 07:15] pedrobaeza commented on #275
Sorry, but the information is not enough. What is not working?

[2018-05-17 07:16] pedrobaeza commented on #275
And some stacktrace, errors...

[2018-05-17 07:22] adrianlaraperez88 commented on #275
These are images of each system the local and the production, one shows me the option and the other does not

Local:
![image](https://user-images.githubusercontent.com/19626181/40162148-f93d391c-5980-11e8-9fbd-8dfd1ac92667.png)

Production:
![image](https://user-images.githubusercontent.com/19626181/40162217-374bd1d2-5981-11e8-9eaa-a0f36d29299c.png)

[2018-05-17 07:24] pedrobaeza commented on #275
I don't see any problem with this, and it seems out of scope of this repo. Closing.

[2018-05-17 07:24] #275 closed, assigned to nobody

[2018-05-17 07:25] adrianlaraperez88 commented on #275
It no send me option same in local odoo??Please helpme

[2018-05-17 07:26] pedrobaeza commented on #275
This tracker is for gathering bugs on the code. For help, please ask on forums.

[2018-05-17 07:27] adrianlaraperez88 commented on #275
Sorry ok

[2018-06-22 03:33] emagdalenaC2i commented on #203
@pedrobaeza
mail_digest #225 is done

[2018-06-26 12:46] cvinh commented on #203
@pedrobaeza could you add mail_footer_notified_partner in todo list ? I tested 10.0 branch towards odoo v11 , it works out of the box
I'm pushing a PR
thanks

[2018-06-26 12:51] pedrobaeza commented on #203
OK, @invitu, I'll fill all the info when you make the PR.

[2018-07-22 12:49] dajuayen commented on #203
Regarding "mail_optional_follower_notification", @pedrobaeza, we have a development done in version 11 so that by default the checkBox is not marked when sending messages.
![checkboxoff](https://user-images.githubusercontent.com/3779635/43045702-b10053fc-8dbd-11e8-8ba4-9f6b0d1cec85.png)
The question is to unmark the following checkbox?
![invite_follower](https://user-images.githubusercontent.com/3

[2018-07-22 13:02] dajuayen opened #291 "[11.0][MAIL][ADD] New folder for messages read in DISCUSS."
Currently when a message arrives it appears in the INBOX folder. If a message is marked as read, the message disappears.

The objective is to be able to keep a history of the messages and have access to the messages read in a folder other than INBOX, called ARCHIVED, for example.

This will allow you to search and consult about old messages.

[2018-09-03 16:03] zaoral opened #298 "[11.0] mail_tracking: compute email_score field take a lot of time when partner has a lot of mail.tracking.email records"
This is happening for the change made in email_is_bounced and email_score_from_email methods,
in version 9.0 we were filtering the last 10 records, while in version 11.0 we are searching in all the "mail.tracking.email" records. Visual diff bellow.

Does we need actually search in all the mail.tracking.email that exists? Maybe we could filter the last N records making N customizable by the admin u

[2018-09-04 07:16] pedrobaeza commented on #298
This has been done for more accuracy, but you can improve the implementation:

* Change `search_count` by `search`
* Try to implement `read_group` when possible.

[2018-09-05 15:47] chienandalu commented on #298
Hi, @zaoral . Can you review this related PR https://github.com/OCA/social/pull/299?

[2018-09-06 09:24] pedrobaeza commented on #298
Fixed.

[2018-09-06 09:24] #298 closed, assigned to nobody

[2018-09-06 18:06] zaoral commented on #298
Thank you @chienandalu @pedrobaeza

I have tested with the fix you suggest/made and works.
Now it takes 83% less of time to compute email score.

Best Regards

[2018-09-13 04:21] alyngsoe opened #301 "mail_optional_follower_notification testet for v11"
We have just installed and tested the v10 module, mail_optional_follower_notification, on v11e with no issues. ( Functional) It could be migrated to v11.

[2018-09-13 06:39] pedrobaeza commented on #301
There's a general issue for tracking this: #203.

Any way, you can make the PR for migrating it following https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

[2018-09-13 06:39] #301 closed, assigned to nobody

[2018-09-18 12:44] bitroniq opened #303 "[11][mail_tracking] Images not visible in README.rst github preview and Odoo page"
Images not visible in README.rst github preview and Odoo page.

* https://www.odoo.com/apps/modules/11.0/mail_tracking/
* https://github.com/bitroniq/social/tree/11.0/mail_tracking

[2018-09-18 14:20] #303 closed, assigned to nobody

[2018-09-27 00:38] OCA-git-bot opened #306 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] base_search_mail_content - By @ernestotejeda - #351
- [x] email_template_qweb - By @ernestotejeda - #341
- [ ] fetchmail_thread_default
- [x] mail_activity_board - By @mreficent - #338
- [x] mail_activity_done - By @ageficent  - #354
- [ ] mail_activity_team - By @mreficent - #340
- [x] mail

[2018-10-02 14:46] pedrobaeza commented on #203
@Dajuayen I think that already exists. @lmignon can you assist me to say it firmly? I think you or one of your team did it.

[2018-10-02 14:47] pedrobaeza commented on #291
Yeah, this can be very interesting. @gurneyalex and @simahawk I think you can be very interested in this.

[2018-10-02 17:19] ghost commented on #291
https://github.com/it-projects-llc/mail-addons a lot of good function like the describted are from this good guys

[2018-10-12 11:36] dreispt opened #308 "[RFC] mail_from_force: force the "From" address to a fixed email"
In some scenarios, the outgoing mail server enforces the "From" email address to be the one for User connected to the mail server.

This means that if I connect to the outgoing mail server using "admin", all sent emails must be from "admin@example.com", and an email From "daniel.reis@example.com" would be rejected by the mail server.

AFAICS this behavior is not configurable, so I'm preparing an e

[2018-10-12 12:01] pedrobaeza commented on #308
The problem here is that your mail server supports any address or enforce the main one. This is called "mail relay". We use Mailgun as mail provider with authorized domains.

In a nutshell, it's not something of Odoo, but on the rest of the infrastructure.

[2018-10-12 12:15] dreispt commented on #308
In this scenario, the mail server is configured according to a corporate policy, and I cant change any of them. So I need Odoo to "behave" accordingly.

Additionally, from a security PoV I see the point for this policy of not "impersonating" someone else, and there are more companies out there using it.
For example, GitHub notifications "From" adress carry your name, but a fixed notifications emai

[2018-10-12 12:16] pedrobaeza commented on #308
Yeah, but you can put whatever you want on your From, that mail server will change it. There's a middle solution that some mails servers do that is "X in the name of Y", but again is not in Odoo part, but on the mail server that allows that.

[2018-10-12 12:24] dreispt commented on #308
It doesn't. It rejects the email message.

I researched that. My particular case is using MS Exchange.
We can have Daniel send an email of a Group ("Odoo"), but we can't have a "Odoo" send an email on behalf of "Daniel" (my need).

Again, is this case I can't and I don't want to.

[2018-10-12 13:01] pedrobaeza commented on #308
Ok, if you think this can be solved that way, try and tell me. I remember to struggle with the same problem and MS exchange being a pain, finally using other smtp server.

[2018-10-22 11:17] cunguito opened #310 "Delivered State"
Hi,

on mail_tracking app, i can not make the tracking to log delivered state.

I am using version 9 of mail_tracking and its working fine for open and sent state, but that is all i can see in the logs.

Is there any configuration i am missing or its a bug?

Thanks.

[2018-10-22 13:05] pedrobaeza commented on #310
This is because your mail server doesn't provide this information. And it's not normally provided because the abuse of spam servers.

[2018-10-22 13:05] #310 closed, assigned to nobody

[2018-10-22 17:04] cunguito commented on #310
Hi Pedro,

can you please confirm me what is the specific function our SMTP server
must have to get this working?

This way i can check with our SMTP provider that is gmail.

Thanks.

Pedro M. Baeza <notifications@github.com> escreveu no dia segunda,
22/10/2018 à(s) 14:05:

--
Bom trabalho e divirta-se!
Ricardo Martins
Telemóvel: (+351) 919110400
Skype: opencloudassistencia
Site: www.opencloud.pro

[2018-10-22 17:08] pedrobaeza commented on #310
Well, it's that one: deliver notification. Mailgun for example has it, but it also depends on the destination mail server.

[2018-10-22 17:18] cunguito commented on #310
Thanks Pedro.

Great work on this app btw.

Pedro M. Baeza <notifications@github.com> escreveu no dia segunda,
22/10/2018 à(s) 18:10:

--
Bom trabalho e divirta-se!
Ricardo Martins
Telemóvel: (+351) 919110400
Skype: opencloudassistencia
Site: www.opencloud.pro

[2018-10-23 16:56] cunguito commented on #310
Hi Pedro,

i just configured everything on both sides (Odoo and Mailgun) but when i
try to validate the webhook on mailgun i get this error (using V9 version):

*Response: *{"jsonrpc": "2.0", "id": null, "error": {"message": "Odoo
Server Error", "code": 200, "data": {"debug": "Traceback (most recent
call last):\n  File \"/opt/odoo/odoosoft/openerp/http.py\", line 648,
in _handle_exception\n    ret

[2018-10-30 15:30] dreispt commented on #308
Update:

My current fix is not strong enough: the SMTP server enforces that the Header "Sender" corresponds to the "From" in the message envelope. For mails to go through I need to ensure that both the Sender and the messages's From corresponds to the user connected to the SMTP server.

The most relevant commit is: https://github.com/odoo/odoo/commit/a4597fe34fcfa8dae28b156410080346bb33af33 and th

[2018-10-30 15:35] pedrobaeza commented on #308
This is what I was trying to explain you :wink:

[2018-10-30 15:36] dreispt commented on #308
Olivier Dony [wrote](https://github.com/odoo/odoo/issues/5864#issuecomment-159234425):

[2018-10-30 15:38] dreispt commented on #308
Using my own SMTP server is not something I want to do.
So my only alternative is to really force the Sender and From addresses to the mail server's user.

[2018-11-01 18:08] JordiBForgeFlow opened #314 "[11.0][mail_tracking] User with Technical settings (group_no_one) cannot display email messages"
When a user has the debug mode (Technical Settings) activated they cannot display the mails associated to mail tracking, due to a permissions issue. Only users in group Administration/Settings  can access to object mail.tracking.value.

It is very common for certain users to have the technical settings (base.group_no_one) activated.

IMHO the root cause of the problem is that mail_tracking provide

[2018-11-01 18:08] JordiBForgeFlow commented on #314
@rafaelbn @pedrobaeza  what do you think?

[2018-11-02 16:45] AdegasOpencloud opened #316 "MailGun - Deliver _ BadRequest"
Hi,
I am trying to configure Odoo to recive e-mail information from mailgun.

I configured the odoo parameters according and i configure the domain in mailgun, but when i am trying in webhooks separator do a test, i recive BadRequest as a response.

Event Type :Delivered Message
URL to test: https://<your_domain>/mail/tracking/all/<your_database>

I think the problem is that lib http.py from odoo

[2018-11-02 19:36] pedrobaeza commented on #316
This is for sending mails, not receiving, and the error is clear as you haven't put your specific data in the URL to test.

[2018-11-02 19:36] #316 closed, assigned to nobody

[2018-11-06 16:18] dajuayen commented on #291
@Yajo I have a doubt in JS and you can guide me.
The object 'mail.chat_manager' saves the channels of the messaging in the variable 'channels' declared in the following way outside the class itself:
https://github.com/odoo/odoo/blob/bab5ccfdd7bd2138eb41db325981dc47641678f9/addons/mail/static/src/js/chat_manager.js#L25
In addition some functions that are not accessible.

I want to add another chann

[2018-11-07 07:48] gdgellatly commented on #306
I did mail_debrand

[2018-11-07 08:33] yajo commented on #291
I recommend you to avoid doing that. Read [the public interface](https://github.com/odoo/odoo/blob/bab5ccfdd7bd2138eb41db325981dc47641678f9/addons/mail/static/src/js/chat_manager.js#L626-L1272) and use it, it has methods such as `post_message`, `get_message`, `get_channel`, `create_channel`, etc., that usually should be enough for you.

[2018-11-08 09:26] pedrobaeza commented on #314
I don't get the problem: we are using this module in all our customers, and they have the group no_one activated (thanks to `base_technical_features`), and it's working without problems.

[2018-11-08 09:31] JordiBForgeFlow commented on #314
@pedrobaeza Are you sure? Try to navigate to the actual mail.message, to display the message contents. It makes no sense that anyone could access, due to this:
https://github.com/odoo/odoo/blob/11.0/addons/mail/security/ir.model.access.csv#L28
https://github.com/odoo/odoo/blob/11.0/addons/mail/views/mail_message_views.xml#L83

Most probably your users are not jumping to the actual mail.message

[2018-11-08 09:41] rafaelbn commented on #314
@jbeficent from where? I can try to reproduce

[2018-11-08 09:49] JordiBForgeFlow commented on #314
@rafaelbn So, as a user without 'Administration/Settings' permissions, go to a partner that has emails sent, press the button to display the mails
![image](https://user-images.githubusercontent.com/7683926/48190800-db846100-e343-11e8-8624-c40db8287c9d.png)

Then go to one of the emails sent, and click on the field 'Message' to navigate to the actual mail.message.
It gives you a permissions error.

[2018-11-18 10:31] ghost opened #327 "Mail verification"
I need a module for the verification of email registration in newsletters. I let this module developed by my partners and it should be available in OCA.

This procedure is necessary after GDPR. Email-Verification would also be useful for the account registration and other parts of Odoo eg "follow the forum".

Is this the right place for this module? Its a good idea to develope this feature with fo

[2018-11-19 14:41] pedrobaeza commented on #327
@Axel-G we talk a lot about this in my team and with Odoo, and the conclusion is that is the same sending first mail of the newsletter as acknowledge of the subscription and user unsubscribe from it than sending a non wanted email asking you for confirming that you want to subscribe, with the difference that the first one only requires one operation, and the other can hammer your inbox if done mul

[2018-11-19 14:51] ghost commented on #327
I think its not only the problem of sending/getting emails. The emailadress is saved on odoo-system. For this act is a confirmation necassary. Without confirmation you have saved the adress illegal. If a adress is not confirmed you have to delete the record after a while (eg 24 hours). Its not ok that the emailowner is forced to act.

[2018-11-19 14:53] pedrobaeza commented on #327
For that, we already have this module: https://github.com/OCA/data-protection/tree/10.0/privacy_consent

[2018-11-19 14:58] ghost commented on #327
Thank you for your explanation. I dont know this module. I have to test it, thx.

[2018-11-29 08:01] JordiBForgeFlow opened #335 "[11.0] [mail_activity_board] restrict visibility on users to models in which they have permissions"
The board of activities is an interesting concept, but IMHO has a major drawback and itnis the security. Anyone can view all activities related to any object.

But it makes more sense that sales looks at activities relating to leads and sales orders, but not purchase orders.

@Dajuayen @hbrunn do you thibk that it makes sense? Not sure of this is possible at all from a technical perspective. Would

[2018-11-29 08:09] hbrunn commented on #335
makes sense to me. But why isn't this already taken care of by https://github.com/OCA/OCB/blob/11.0/addons/mail/models/mail_activity.py#L154 ?

[2018-11-29 19:46] dajuayen commented on #335
In relation to that from Sales where activities are controlled I will remember that the activities can also be related to other modules such as Project, so I think it makes sense that this activity board is independent.

[2018-11-29 19:57] dajuayen commented on #335
@jbeficent @hbrunn are right, the question of security is not controlled in the module. Anyway @hbrunn makes a good contribution and it is possible that by going there, the problem could be controlled and that users see the right activities.

[2018-11-29 20:28] JordiBForgeFlow commented on #335
@Dajuayen @hbrunn I checked and https://github.com/OCA/OCB/blob/11.0/addons/mail/models/mail_activity.py#L154 just takes care about write, create and unlink, not read.

@mreficent is working to fix also the read. Our idea is that when the _search method is called for mail.activities, and the list of activities is returned, we should then try to check permissions for each of the resources reference

[2018-11-29 20:30] hbrunn commented on #335
this should more or less mimic what the model `mail.message` does. Look at how it's implemented there, it's complicated

[2018-12-29 03:49] emagdalenaC2i commented on #306
Please, check mail_track_diff_only - By @hugho-ad - #311

Please, check mass_mailing_resend - By @ernestotejeda - #325

Please, add to the list mail_activity_board - By @mreficent - #338

There is a PR for the migration of mass_mailing_partner - @sergio-teruel - #323

There is a PR for the migration of mail_tracking_mailgun - @ernestotejeda  - #320

There is a PR for the migration of mail_tracking

[2018-12-29 03:58] emagdalenaC2i commented on #203
@pedrobaeza Please, add to the list fetchmail_thread_default - By @chienandalu - #339

Please, add to the list mass_mailing_list_dynamic - By @damcar - #284

Please, add to the list mail_improved_tracking_value - By @mpanarin - #254

[2019-01-02 23:56] BigleafBrandon opened #347 "Slow contact loading/saving when using Email Tracker"
We have been using your Email Tracking app in our v11 Odoo.sh hosted environment for several months. We love the functionality, however we were experiencing very slow opening/saving of contacts. We could see that there were 34k tracking emails and 19k tracking events. After uninstalling and reinstalling the app, the speed got much better, however, our tracking email and events tables were cleared

[2019-01-03 09:29] pedrobaeza commented on #347
Are you using latest code? Specifically the commit https://github.com/OCA/social/commit/361db616774137a6411407c3e6dcd6f7f8d2abc3#diff-57d7aee26e2837000c82f4673bd8dfb7 that improves the performance? We are using it with 376K tracked emails and 1.7M tracking events without performance problems.

[2019-01-08 06:54] BigleafBrandon commented on #347
We have upgrade to the latest commit. No issues so far. Thanks!

[2019-01-08 07:04] #347 closed, assigned to nobody

[2019-01-09 11:11] nch-odoo opened #349 "mail_tracking"
Hi,

Installed mail_tracking in odoo 9 ..sent an email from chatter. The  email was received and opened in the external mail app(GMAIL). but the status of the mail tracker only shows as SENT. How does other states go on. I mean the other states does not change.

Am I missing something !

Thanks

[2019-01-09 12:53] pedrobaeza commented on #349
This is due to:

* Your Odoo is not accessible to outside.
* Your dbfilter is not correct.
* Your web.base.url system parameter is not correct.

[2019-01-09 12:53] #349 closed, assigned to nobody

[2019-01-09 16:47] nch-odoo commented on #349
Hi Pedro,

Thanks for  your reponse !

Can you ellobrate on the above points . What are expected settings to work.

PS: I am testing on local db.

what extra settings needs to work for a multi db ?

[2019-01-09 17:44] pedrobaeza commented on #349
Sorry, but this is out of the scope of this issue tracker and the module itself.

[2019-01-10 22:05] bullet92 opened #352 "email deliverd status unreadeable"
Hi,
using mail_tracking I can't rtrack the state of the email: if there were an error on sending or anyother. The only thing that works is the opened state. The mail server supports this standard things, indeed if I send an email from the same outgoing address used in odoo, I receive an emails about the sent status: received from mx, user not exist, mail read and etc.
Could you help me to get the

[2019-01-11 09:19] pedrobaeza commented on #352
The module catches the events that are passed: received event can't be got by a traditional mailserver, but through hooks. And bounce notifications should be enabled on the mail server, which is not the usual case for avoiding spam. We use Mailgun as mail server for having full events.

[2019-01-11 09:19] #352 closed, assigned to nobody

[2019-01-12 05:37] BigleafBrandon opened #353 "Show done activities?"
module: mail_activity_board
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2019-01-12 06:10] BigleafBrandon commented on #353
Is it possible to see closed/done activities? If so, how?

If not, woild you be able to customize the app to do so for a fee?

[2019-01-14 09:18] LoisRForgeFlow commented on #353
I think this is exactly what you need: https://github.com/OCA/social/pull/296

[2019-01-17 06:47] BigleafBrandon commented on #353
Pardon my ignorance, but I am unable to find the zip download for mail_activity_done. I downloaded both the v11 and v12 zip files but don’t see any reference to a mail_activity_done module.

Thank you for your help!

On Jan 14, 2019, at 1:18 AM, Lois Rilo <notifications@github.com> wrote:

I think this is exactly what you need: #296<https://github.com/OCA/social/pull/296>
—
You are receiving this

[2019-01-17 07:38] JordiBForgeFlow commented on #353
This work is in progress. In a few days it will be available for you to
download easily.

El jue., 17 ene. 2019 7:47, BigleafBrandon <notifications@github.com>
escribió:

[2019-01-18 04:10] BigleafBrandon commented on #353
Thanks!

From: Jordi Ballester Alomar <notifications@github.com>
Sent: Wednesday, January 16, 2019 11:39 PM
To: OCA/social <social@noreply.github.com>
Cc: Brandon Smith <brandons@bigleaf.net>; State change <state_change@noreply.github.com>
Subject: Re: [OCA/social] Show done activities? (#353)

This work is in progress. In a few days it will be available for you to
download easily.

El jue., 17 en

[2019-01-25 09:38] BigleafBrandon commented on #353
Any updates on this?

From: Brandon Smith
Sent: Thursday, January 17, 2019 8:10 PM
To: 'OCA/social' <reply@reply.github.com>
Subject: RE: [OCA/social] Show done activities? (#353)

Thanks!

From: Jordi Ballester Alomar <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, January 16, 2019 11:39 PM
To: OCA/social <social@noreply.github.com<mailto:social@noreply.github.com>>
C

[2019-01-25 16:25] BigleafBrandon commented on #353
Any updates on this?

From: Brandon Smith
Sent: Thursday, January 17, 2019 8:10 PM
To: 'OCA/social' <reply@reply.github.com<mailto:reply@reply.github.com>>
Subject: RE: [OCA/social] Show done activities? (#353)

Thanks!

From: Jordi Ballester Alomar <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, January 16, 2019 11:39 PM
To: OCA/social <social@noreply.github.com<mailt

[2019-01-25 16:38] JordiBForgeFlow commented on #353
@BigleafBrandon You can now download from https://github.com/OCA/social/archive/11.0.zip

[2019-01-25 16:38] #353 closed, assigned to nobody

[2019-02-14 08:47] taOsemc opened #361 "[Question ] "sent by company" mail_debrand"
Hi,

Fantastic module!

I would like to know if it's possible to remove "Sent by company" as well. It's curretnly removing "by Odoo".

Thank you !
Jean-Philippe

[2019-02-14 08:49] pedrobaeza commented on #361
That's another feature that is not debranding at all, and it's not included in the module.

[2019-02-14 08:49] #361 closed, assigned to nobody

[2019-02-15 08:22] taOsemc commented on #361
Thank you for your answer @pedrobaeza

[2019-03-14 16:15] tdombos opened #366 "[mail_activity_done] hide done activities in activity view and system tray"
I think done activities should not show up in the activity view or be counted in the number of scheduled activities in the system tray.

[2019-03-17 19:49] CarlesAntoli opened #368 "[11.0] Error in view mail_activity_views.xml"
Hi,
In the mail_activity_views.xml the domain is not correct

<attribute name = "domain"> [('activity_ids.date_deadline', '& gt;', context_today (). Strftime ('% Y-% m-% d')), ( 'done', '! =', True)] </ attribute>.

Should be:

                 <attribute name = "domain"> [('date_deadline', '&' ;, context_today (). strftime ('% Y-% m-% d')), ('done', '! =', True) ] </ attribute>

[2019-03-17 20:22] pedrobaeza commented on #368
Which module? Which version?

[2019-03-17 20:54] CarlesAntoli commented on #368
Sorry, module mail_activity_done version 11

[2019-04-02 08:47] HviorForgeFlow opened #373 "Add feature: Notify Channel members on Add Channel Chatter"
I have a requirement that I don't find on Odoo core.

Let's use Projects App as example, I can add a channel to project chatter and then when a task is created all channels members are notified, but I can't notify all channel members that Their channel has been added to an specific project.

I would like to know if there is a way I missed to achieve these functionality, otherwise I will create a m

[2019-04-24 08:53] tbaden opened #375 "[mail_attach_existing_attachment][12.0] not usable for invoices"
Invoice wizard form is new in version 12.0

Model:
account.invoice.send
Invoice Mail Wizard Form:
account.account_invoice_send_wizard_form

[2019-04-24 16:38] tbaden opened #378 "travis & runbot fail on dependency clone"
in the oca_dependencies file is the line:
https://github.com/OCA/social/blob/66bb112d2f27b8fe902b352f89569782e043c6f3/oca_dependencies.txt#L3

but the branch no longer exists, which fails the runbot & travis checks

[2019-04-24 16:39] pedrobaeza commented on #378
Fixed in https://github.com/OCA/social/commit/a0bc66bb77727cd258ba76caeb408f3e43f5f6c9

[2019-04-24 16:39] #378 closed, assigned to nobody

[2019-04-24 22:46] pedrobaeza commented on #375
Closing as there's a PR already.

[2019-04-24 22:46] #375 closed, assigned to nobody

[2019-04-26 08:28] tbaden commented on #306
mail_activity_board  https://github.com/OCA/social/pull/338 merged, but not checked yet

[2019-05-02 07:59] emagdalenaC2i opened #379 "[12.0][FIX]mail_activity_done UX bug"
This is the UX without mail_activity_done installed
![Captura02](https://user-images.githubusercontent.com/24428859/57062548-ce2bac00-6cc0-11e9-8aab-8d1f311a1f32.PNG)

And this is with mail_activity_done installed
![Captura01](https://user-images.githubusercontent.com/24428859/57062568-d97ed780-6cc0-11e9-9733-ed2c45835fb3.PNG)

FYI @mreficent @jbeficent

[2019-05-02 09:43] JordiBForgeFlow commented on #379
@ageficent can we review toghether this one?

[2019-05-12 13:48] abdallamhafeez opened #381 "[12.0] mail_debrand: power by odoo appear in sale order"
Hello
I tried to send email quotation to customer and "Power By Odoo" appear in email

![image](https://user-images.githubusercontent.com/13385546/57583023-8aa91d00-74cc-11e9-91c6-cfd9b27d4451.png)

[2019-05-16 04:38] mehdi-ghezal opened #383 "[9.0][email_template_qweb] Export Po files: Sentences split at QWEB instruction"
Hello,

I use **email_template_qweb** module in **Odoo 9** and I have an email template with the following simplified content.

<template id="notify_supplier_view">
    <t t-set="o" t-value="object.with_context({'lang': env.lang or 'fr_FR'})" />

    <t t-call="email_template_base_layout_view">
        <p>
            Please find the RFQ <t t-esc="o.name" /> in attachment of this email.
        </

[2019-05-16 07:43] pedrobaeza commented on #383
Sorry, this is how QWeb translations in Odoo works, so it's not something of the module, and it's not going to change also in Odoo, as it's the used method.

[2019-05-16 07:43] #383 closed, assigned to nobody

[2019-05-16 08:34] mehdi-ghezal commented on #383
Oh yes you're right !
I didn't notice since today, for my report's it's the same.

Didn't got any case when I need the full context since today, so I'm gonna find a workaround, thank you for your reply Pedro :)

[2019-05-22 09:34] aitorbouzas opened #386 "[11.0] mail_activity_done messes next activity date"
Just tested this module. There's a small catch with it, I don't know if i'm not using it correctly...
In a `crm.lead` (that inherits from `mail.activity.mixin`) there's a problem with `activity_date_deadline` field. It doesn't show the next activity date, rather the first activity it encounters.

This field is defined such as:
[code]

Since with `mail_activity_done` the activity stays related to t

[2019-05-22 11:36] emagdalenaC2i commented on #386
@aitorbouzas Please, take a look at #380

[2019-05-22 11:48] aitorbouzas commented on #386
AFAIK that fix doesn't correct this behaviour. Am i missing something?

[2019-05-22 12:18] emagdalenaC2i commented on #386
No, sorry. It is a different issue

[2019-06-01 22:35] emagdalenaC2i commented on #306
Please, add to the list mail_activity_team - By @mreficent - #340

[2019-06-03 14:25] bishamontn opened #390 "[11.0] mail_debrand not working"
Hello,

I have installed an Odoo v11 and I have created an Odoo database without just with sale app and no custom addons. Sending the email with just the sample data I am getting the default Odoo email with all the Odoo branding, so I think this addon is not working because I have nothing incompatible in my installation.

<img width="1110" alt="Captura de pantalla 2019-06-03 a las 16 22 50" src="h

[2019-06-05 07:32] igallart opened #391 "[10.0] Should requeriments social have simplejson dependency?"
When I have social in my repositories, it fail and it say:

social/mail_sendgrid/controllers/json_request.py

line 48, in _json_response
    body = simplejson.dumps(response)
NameError: global name 'simplejson' is not defined

I think that social requeriments should have simplejson.

[2019-06-05 07:35] hbrunn commented on #391
since https://github.com/OCA/social/pull/372 this shouldn't be the case any more

[2019-06-05 07:35] #391 closed, assigned to nobody

[2019-06-05 07:38] igallart commented on #391
Sorry, my source was outdated.

[2019-06-11 11:03] agent-z28 opened #393 "New Module: In odoo v11 there's no mail_acitivity_notification"
In odoo12 its implemented in the core.
(If a user gets an activity assigned, send him a mail.)
Shall we provide such a module or is it more or less not needed anymore?

[2019-06-11 11:04] pedrobaeza commented on #393
It can be interesting...

[2019-06-11 11:11] agent-z28 opened #394 "New Module: We have a Module called mail_track_to"
The idea is to post the changes of one2many records from the child model to the parent model.
Is there anything like this at the moment?

[2019-06-11 11:21] pedrobaeza commented on #394
See #254

[2019-06-11 14:57] MiquelRForgeFlow commented on #366
See https://github.com/OCA/social/pull/395.

[2019-06-12 14:05] LiberTang0 opened #396 "Doesn't work on Odoo Online"
Nothing happens with Odoo Online (V12)

[2019-06-12 14:38] pedrobaeza commented on #396
Which module? Which problem?

[2019-06-12 15:24] LiberTang0 commented on #396
module: mail_debrand
problem: nothing happens

"sent using odoo" still present when sending a message from the CRM

[2019-06-12 15:25] pedrobaeza commented on #396
Please use latest version that was merged yesterday.

[2019-06-12 15:25] #396 closed, assigned to nobody

[2019-06-12 16:50] LiberTang0 commented on #396
I test with the lastest version and doesn't work on odoo online, nothing happens

[2019-06-12 17:06] pedrobaeza commented on #396
It should work the same in "Odoo online" (that I suppose it's odoo.sh). Try on the runbot link to check.

[2019-06-12 17:09] LiberTang0 commented on #396
Not odoo.sh, just odoo online, with the import module features

[2019-06-12 17:12] pedrobaeza commented on #396
Then it's logical that it doesn't work. You can't import modules in odoo online that contains code. Only data modules. It's specified when uploading it AFAIK.

[2019-06-16 00:54] pedrobaeza commented on #381
Check latest source code that must fix it.

[2019-06-16 00:54] #381 closed, assigned to nobody

[2019-06-23 08:16] vregouby opened #401 "[v12] - email tracking installation error"
Any Idea ?

Traceback (most recent call last):
  File "/home/odoo/odoo/odoo/tools/convert.py", line 757, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/home/odoo/odoo/odoo/tools/convert.py", line 662, in _tag_record
    record = model.with_context(rec_context)._load_records([data], self.mode == 'update')
  File "/home/odoo/odoo/odoo/models.py", line 3838, in _load_records
    record

[2019-06-23 21:38] pedrobaeza commented on #401
You can check that is working perfectly in https://runbot.odoo-community.org/runbot/205/12.0. See if there's an incompatible third party module or your deployment method is not proper (for example, if you haven't restarted the service).

Any way, unless you give more data about the specific problem, this is not something on the module itself, so closing.

[2019-06-23 21:38] #401 closed, assigned to nobody

[2019-06-25 10:12] Manibandaru commented on #241
May i know ,how you have removed that "Powered by Odoo" in mail template.

Thanks in Advance.

[2019-06-25 21:49] travish2 commented on #241
Settings -> Technical -> Emails -> Templates

Use a filter to list all messages where Body contains "odoo"

Then you can edit the templates to remove it.

[2019-06-27 18:09] hbrunn opened #405 "[RFC] implement matrix client-server api"
I'm a fan of [matrix](https://matrix.org) and like the [riot](https://about.riot.im/) client quite a bit.

Lately, we replaced our internal chat with Odoo groups, and one thing that lacks is a nice open source mobile client for this. As I'm a better Odoo developer than mobile, I propose to not bother with a nice Odoo chat app at all, but support matrix' [client](https://matrix.org/docs/spec/client

[2019-06-27 18:10] hbrunn commented on #405
@ntsirintanis @thomaspaulb

[2019-06-27 20:43] thomaspaulb commented on #405
I've been looking at making a [bridge](https://matrix.org/bridges). It [seemed](https://about.riot.im/why-riot) that this is the preferred way of coupling Riot to other chat networks:

[This page](https://matrix.org/blog/2017/03/11/how-do-i-bridge-thee-let-me-count-the-ways) has a nice XKCD cartoon and an explanation about the different kinds of bridging.

However, for the preferred "puppeting" ty

[2019-06-28 08:02] hbrunn commented on #405
Indeed, a lot of work. Another thing I'm looking into is making Odoo behave as a server against other servers. The protocol https://matrix.org/docs/spec/server_server/r0.1.2 at least has much less endpoints.

[2019-07-02 13:44] eLBati commented on #308
For v10 and v12 another implementation was made: `mail_outbound_static`

 - https://github.com/OCA/social/pull/388
 - https://github.com/OCA/social/pull/195

Additional info at https://github.com/odoo/odoo/pull/20911

I think we should go on with `mail_outbound_static`

[2019-07-08 09:18] dreispt commented on #308
I missed that one, thanks for pointing it out.
I guess that makes my proposed module redundant.

[2019-07-08 09:18] #308 closed, assigned to nobody

[2019-07-08 09:39] gregory-moka opened #409 "Mail_tracking > Refresh status"
It seems that the traking status is not refreshed after sending. So, if user doesn't refresh the app (F5), tracking status will always be on "Unknown".
Is there a way to ensure user that the mail has been correctly sent without having to refresh page ?

[2019-07-08 09:44] pedrobaeza commented on #409
No, you have to refresh manually, as automatic refreshing was deactivated by Odoo intentionally in v11, as it creates a lot of fake request on people leaving opened tabs.

[2019-07-08 09:44] #409 closed, assigned to nobody

[2019-07-29 15:32] zaoral opened #424 "Error Mailgun's mail tracking: receive JSON request instead of HTTP request"
Mailgun let us to inform via Webwook to an URL events like when a messages has been delivered, temporally_fail, permanente_fail, etc.

Odoo has a controller defined in **mail_tracking** module that let us to capture this information to update mail tracking information (**/mail/tracking/all/<db_name>**). This controller accept HTTP request, but it seams like Mailgun API has change and now is sendin

[2019-07-29 20:03] pedrobaeza commented on #424
No, we are using it without any problem in several customers. This seems another thing.

Closing while no further information is provided.

[2019-08-07 12:23] kh-badep opened #425 "[12.0] New Module: mail_notify"
We have a new module that enables Push notifications for all incoming messages. By default, push notifications on Odoo are enabled only for chat. This module removes this restriction to enable push notifications on incoming messages (inbox) and activities. It also improves the notification by adding an URL to open the related document by clicking on the notification, the document icon or the sende

[2019-08-07 12:25] pedrobaeza commented on #425
Thanks for expressing your interest in bringing this to OCA. It seems an interesting module.

Let's see what people thinks about this.

[2019-08-16 08:34] chrizzTs opened #426 "High Level functionlity"
Dear all,
I really love this module!
I am just wondering if you could explain me how this generally works.

So how is this module collecting the status if it was opened? Is a link added to each mail via the template and it triggered by the user when it opens a mail.
Does it internaly then use the Odoo tracking links?

Would be great if some body could explain me the technical aspect how I can coll

[2019-08-18 05:28] marcozink commented on #396
Hey @LiberTang0, are you using Odoo in a language other than english? If you are, you need to add the translated string so the regex matches the email template, otherwise it will not work.

[2019-08-18 17:39] pedrobaeza commented on #426
Which module? Which Odoo version?

[2019-08-21 08:05] Random-nobody opened #427 "[12.0] mail_debrand: leaves a space before dot"
Mail debran version: 12.0.2.0.1

When emails are sent with footer like this:
`Sent by <company name> using Odoo.`
"_using Odoo_" is removed and there is an ugly space and dot after the company name:

![20190821_094701](https://user-images.githubusercontent.com/16503469/63413032-354ca800-c3f9-11e9-928d-801b30206655.png)

This is the responsible piece of code:
[code]
I coudn't find an easy way to re

[2019-08-21 08:30] pedrobaeza commented on #427
I prefer to leave the dot.

[2019-08-22 16:12] zaoral commented on #424
@pedrobaeza  Please could you tell me if you are using Webhooks or Legacy Webkooks?

When I try to use Webhooks the error I mention occurs, If I use Legacy Webhooks this error does not appears.

[2019-08-22 18:44] pedrobaeza commented on #424
@zaoral Indeed mine are legacy webhooks, as when I configured them, there was only that ones. I have accessed today to Mailgun control panel and discover the whole redesign and features they have added.

We can include a note about the webhook part on the README configuration part, and in the ROADMAP. Do you plan to provide compatibility with new webhooks?

[2019-08-23 08:51] omar7r opened #428 "[11.0] mail_tracking: message_post signature changed"
Hi,

Recently was added to mail_tracking an inheritance of mail.thread (commit https://github.com/OCA/social/commit/8b89ab39be769bbd2f23824c2ea9f229a9e0dcc9#diff-0078a63221515aa79d9ca590dfd5d377). The method "mesage_post" was declared with *args, **kwargs and the default signature only has **kwargs, now it fails when pass as first argument to message_post the message without indicate that this arg

[2019-08-23 09:12] pedrobaeza commented on #428
Fixed directly in https://github.com/OCA/social/commit/f47ad8382491999b23ab2562443717b6c8efae0c. Thanks for reporting and good catch.

[2019-08-23 09:12] #428 closed, assigned to nobody

[2019-08-23 16:14] zaoral commented on #424
@pedrobaeza We will try to add compatibility to the new webhook API for version 12.0, but we estimate that we would start working on this just in a month or 2 because we are closing some projects.

Best Regards

[2019-08-23 16:45] pedrobaeza commented on #424
OK, but is there any advantage of using these new webhooks?

[2019-08-26 12:46] zaoral commented on #424
I have not tested yet, but I asked to mailgun support and they tell me:

[2019-08-26 13:16] zaoral commented on #424
@pedrobaeza  I leave you here two PRs in order to review.

* updated the README of the module to indicate that it only works for legacy Webhooks https://github.com/OCA/social/pull/430
* I detect that for legacy wehooks we were missing to map some errors that Mailgun sent us, more information in https://github.com/OCA/social/pull/429

Best Regards

[2019-08-26 13:52] pedrobaeza commented on #424
OK, thanks

[2019-09-05 13:24] dreispt opened #433 "[RFC] Restrict outgoing emails to non-collaborators/employees"
Some Odoo implementations works with highly sensitive information which they may sometimes add to the chatter area messaging. Examples are quotes, purchase quotes, communications about a lead, etc. It would be extremely damaging if a piece of this sensitive info accidentally was sent via email out of Odoo to an unintended recipient.

For these cases, it would be useful a feature only allowing send

[2019-09-29 21:48] OCA-git-bot opened #438 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] base_search_mail_content - By @ernestotejeda - #566
- [x] email_template_qweb - By @tfossoul - #482
- [x] mail_activity_board - By @pegonzalezspesol - #451
- [x] mail_activity_done - By @emagdalenaC2i - #484
- [ ] mail_activity_partner
- [ ] mail_activity_team
- [x] mail_attach_existing_atta

[2019-10-08 11:42] gr22 opened #441 "mail_debrand does not work if partner has different language, v12"
If the partner has different language than the user sending the mail then `_("Powered by")` would not translate to the partner's lang but the html of the template will so the condition `if powered_by not in html:` will fail

[2019-10-08 11:58] cedric-tactic opened #442 "[12.0] mail_outbound_static : install failed, "smtp_from" is missing"
Hello,

I've installed the module mail_outbound_static and i've got the following error :

[code]

And :

[code]

My current setup :
  - Odoo 12.0+e-20191008 (Enterprise Edition)
  - Run on Docker

Any ideas to solve this ?

Thanks

[2019-10-08 12:53] cedric-tactic commented on #442
Hi,

After importing module by folder "extra_addons" and not by clicking on "import zip module" on GUI,  the module works and my sender was correctly repplaced :)

Thanks

[2019-10-08 12:53] #442 closed, assigned to nobody

[2019-10-16 09:11] oscars8a opened #443 "[11.0][mail_tracking] Incompatibility with OCB commit"
https://github.com/OCA/social/blob/eeedcbd41dc960ffdf19e8f7924ecb5b7aa9d84d/mail_tracking/static/src/js/mail_tracking.js#L11

Hello,

I have a problem with the module mail_tracking in Odoo 11.0.

Two days ago I updated the repositories, and customers who have installed the mail_tracking module, they are having trouble creating activities. When I create an activity, until I refresh the page, the ac

[2019-10-16 13:01] AnilKesariya opened #444 "Mail Tracking : Does not function with any other email client or browser except MACOS"
I have installed the mail_tracking module and having a problem with acknowledgement part.

Like when somebody open an email which is not being tracked into the email tracker. It should be marked with double right sign according to the logic implemented and stated on screenshots and which works fine with MacOS mail client.

for e.g.

I have one test lead and having customer with email test.test@gma

[2019-10-16 13:05] pedrobaeza commented on #444
It's not a question of client not browser, but image blocking and your proxy deployment.

[2019-10-16 13:05] #444 closed, assigned to nobody

[2019-10-16 18:31] AnilKesariya commented on #444
How can be that proxy deployment fix? any idea or suggestion can help.

Thanks.

[2019-10-16 19:42] emagdalenaC2i commented on #438
mail_activity_done #445

[2019-10-17 08:38] pedrobaeza commented on #443
@Tardo I was experimenting this also, but I thought it was the normal behavior in Odoo. Can you check in both 11 and 12?

[2019-10-17 12:30] pedrobaeza commented on #443
Fixed in #446

[2019-10-17 12:30] #443 closed, assigned to Tardo

[2019-10-21 13:51] #373 closed, assigned to nobody

[2019-10-23 13:58] pegonzalezspesol commented on #438
work in progress about module mail_activity_board #451 ..

[2019-10-25 14:33] pegonzalezspesol commented on #438
mail_activity_team proposed #453

[2019-11-03 09:48] suparub commented on #438
Hi here, anyone know when will the mail_debrand v13 module be ready ?
Power

[2019-11-03 12:31] pedrobaeza commented on #438
The effort of migrating is voluntary and till now, nobody has expressed their interest in migrating it. You can fund the migration contacting to any of the contributors.

[2019-11-06 13:49] Laurent-Corron commented on #438
mail_optional_autofollow (from 11.0)  #457

[2019-11-12 10:55] naglis commented on #306
mail_optional_autofollow #459

[2019-11-18 21:35] chrizzTs opened #465 "mass_mailing_partner installation error"
Hi all,
we have 107353 contacts in our system. When we are going to install mass_mailing_partner module, we have noticed that It is going to update partners records and we are facing below errors:

![image](https://user-images.githubusercontent.com/6087189/69095875-82213880-0a53-11ea-8846-157cac740549.png)
![image](https://user-images.githubusercontent.com/6087189/69095880-86e5ec80-0a53-11ea-98b1-

[2019-11-18 23:03] pedrobaeza commented on #465
@chienandalu any tip?

[2019-11-22 12:20] Root4glory opened #468 "mail_digest Module installation error"
Hello everyone,

I was hoping someone could help me out with this module installation error :

I was trying to install this module mail_digest that i got from this link : https://apps.odoo.com/apps/modules/11.0/mail_digest/

But when i do click install i get this error :

Erreur:
Odoo Server Error

Traceback (most recent call last):
File "/opt/odoo/odoo/odoo/tools/convert.py", line 758, in parse
s

[2019-11-29 09:18] chrizzTs commented on #465
@chienandalu any update on this?

[2019-11-29 11:23] chienandalu commented on #465
I guess you've got a huge amount of registers to link so the init hook maybe should be optimized: https://github.com/OCA/social/blob/12.0/mass_mailing_partner/hooks.py#L13-L36

Maybe you can override it in your installation and pass the scripts manually in your instance.

[2019-11-29 11:47] astirpe commented on #441
I confirm that this issue occurs, introduced by https://github.com/OCA/social/commit/c706391c2e1f6fc4224a79526d0adc789a43a623#diff-171036ef0b5f4a45ad3a3b313e1fbe0a

Would be nice to restore the old behavior, that was completely removing the "Powered by" part.

[2019-11-29 11:48] pedrobaeza commented on #441
@gdgellatly you were the author of it. Can you please check?

[2019-12-01 07:24] suparub commented on #438
alright, anybody would like to do the mail_debrand ? What would be the price ?

Kindly !

[2019-12-02 10:52] source-promo commented on #465
@chienandalu what is the init hook doing?
Can I simply comment it out for installation?
So only new contacts will be linked after installation?

[2019-12-02 11:07] chienandalu commented on #465
That's it. Anyway, you can run the script by shell later

[2019-12-04 10:46] dndoanh commented on #441
@astirpe It works if you have translation file in that lang

[2019-12-04 11:00] astirpe commented on #441
@dndoanh I didn't test it with any .po file, but if I look at [this](https://github.com/OCA/social/tree/12.0/mail_debrand/i18n) I think that you are implicitly confirming the issue for all the languages other than English, right?

[2019-12-06 10:32] lmignon commented on #438
I start the migration of mail_optional_follower_notification

[2019-12-06 14:12] Floaterz opened #477 "[11.0] mail_activity_done Creates multiple deadlocks."
During the normal usage of this module, it's quite commum to see multiple deadlocks in the log file.

This is just 1 of many
[code]
Any idea to what could be doing this?

[2019-12-27 10:54] enclustra-odoo opened #480 "error when sending mail without followers as recipients"
module: mail_optional_follower_notification
version: 12.0

**Steps to reproduce**
- Send e-mail from purchase or sales with the mail composer
- Mail template is `mail.mail_notification_paynow`

**Current behavior**
- e-mail is not sent and the following error is displayed:
[code]

**Expected behavior**
- e-mail sent only to recipients (without followers)

[2019-12-29 09:21] chrizzTs opened #481 "Error while installing"
I just tried to upgrade to the newest version on Github. But my build fails with followin error message:

Failed to load registry Traceback (most recent call last):   File "/home/odoo/src/odoo/odoo/modules/registry.py", line 86, in new     odoo.modules.load_modules(registry._db, force_demo, status, update_module)   File "/home/odoo/src/odoo/odoo/modules/loading.py", line 417, in load_modules     f

[2019-12-29 11:45] pedrobaeza commented on #481
The error is clear: you need the Python library called openupgradelib. Install it.

[2019-12-29 11:45] #481 closed, assigned to nobody

[2020-01-12 09:53] batona opened #485 "Mail_tracking error: field not exists"
This error reproduced on 2 instances. After module install and opening any page related to mail object raised this error.

Ошибка:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 312, i

[2020-01-12 11:12] pedrobaeza commented on #485
Sorry, this is not a module error, but incorrect deployment of the update. Restart your Odoo service and update the module via command line or UI.

[2020-01-12 11:12] #485 closed, assigned to nobody

[2020-01-12 11:28] batona commented on #485
Sure i did it. I'll try it on brand new installation.

вс, 12 янв. 2020 г., 13:12 Pedro M. Baeza <notifications@github.com>:

[2020-01-15 10:22] ecino commented on #203
@pedrobaeza mail_sendgrid - By @Nooka10 - #486

[2020-01-15 12:32] pedrobaeza commented on #203
@ecino I'm not anymore as OCA's community manager, so I'm not handling this now. I have proposed https://github.com/OCA/oca-github-bot/pull/97 for a way to maintain easily the migration issues.

[2020-01-16 15:23] renzo1974 commented on #203
Is there a reason why the module **mail_notify_bounce** is not listed for migration?

[2020-01-25 15:55] genvagula commented on #241
@travish2 i cannot find the proper template by your instructions. there just not any that contains "odoo". could you revise your advise or give another one on how to remove the "Sent by /company/ using Odoo." part from the e-mails?

With many thanks
Gen

[2020-01-27 14:09] #477 closed, assigned to nobody

[2020-01-27 14:13] jarroyomorales commented on #477
@Floaterz Is this solved?

[2020-01-28 07:55] lmignon commented on #480
@enclustra-odoo IMO the problem is into the template. The error occurs since `record` is an empty recordset into `<t t-set="access_action" t-value="record.with_context(force_website=True).get_access_action()"/>`. You should probably enclose this call into a `<t t-if="record"> ... </t>`  tag.

[2020-01-28 21:38] travish2 commented on #241
@genvagula You will want to use module mail_debrand for that

I had email templates with a different phrase that may have been a hold over from earlier versions

[2020-01-30 10:24] Floaterz commented on #477
Yes, your code is fine.
Didn't realised someone on our side had inherited the code and made some changes  ( which caused the deadlocks ).
Everything is fine now.

[2020-02-01 21:34] genvagula commented on #241
thank you @travish2. I use v13 but I see that the module for this one is still under development and not very actively. So I just have to stick with that branding stuff, at least for now.

[2020-02-04 18:04] theangryangel commented on #480
I'd be extremely happy to be corrected (it's the end of a long day for me, and I've spent far longer than I would like to admit on this), but I think this is an incomplete port from 10.0 to 12.0, as it doesn't seem to take into account the changes between 10 and 12

For example, [the current implementation of _notify method for res.partner](https://github.com/OCA/social/blob/431d57a6f6f297ee180de9

[2020-02-06 02:35] gdgellatly commented on #441
@gr22 @astirpe I'm a bit confused, it seems there are differing opinions here on what the bug is.

The actual report seems to imply all that is needed is to ensure the translation is performed in the partners language, but I was pretty sure that was already passed in context.

The old way relied on XML navigation, which kind of broke when they changed all the templates for this version, and it als

[2020-02-06 07:39] pedrobaeza commented on #441
That can work, but the other option is simply: translate in this module the text "Powered by" the same as Odoo does.

[2020-02-06 07:52] astirpe commented on #441
I perfectly understand the technical point. But in general we should also put ourselves in the shoes of non-technical users: one installs this module, expecting that the Powered By is removed, but instead it stays there. And the solution with translations is not even mentioned in the readme/configuration.

[2020-02-06 07:54] pedrobaeza commented on #441
OK, someone can propose the alternative patch that @gdgellatly mentions

[2020-02-06 09:56] georginaf commented on #480
@theangryangel I have the same error when trying to send templates..
If you come up with a PR I'd be happy to test it, just let me know.

[2020-02-06 11:43] remihb commented on #480
I'm on it too since 2 days. As far as I can see, this module doesn't seem to work for invoice mails (I don't test all the mail sending for other objects).

It overrides the field 'needaction_partner_ids' in mail.message object but too late because the recipient_data are already calculated (its the rdata parameter in the _notify method).

I'm close to fix the issue, I will make a PR soon ;)

[2020-02-06 13:36] remihb commented on #480
Ok done
see that PR [https://github.com/OCA/social/pull/493](https://github.com/OCA/social/pull/493) and let me know if it looks good for you.

[2020-02-06 15:24] theangryangel commented on #480
@remihb LGTM and works perfectly as far as I can tell. Was due to start looking at this Friday, so thank you for this <3

Also the invoicing feature is actually what I was ultimately needing, so this is extremely helpful to me!

[2020-02-06 20:21] gdgellatly commented on #441
@astirpe No one is disagreeing with you, clearly it is a bug that requires fixing. You seem to have the best handle on the right approach so maybe you like to propose a PR.

@pedrobaeza Well the problem with href solution is somewhat the opposite. It catches both the `using` scenario and `Powered by` scenario. Although if I look at the occurrences, there is only one occurrence of `using` so maybe

[2020-02-07 08:49] ecousinet opened #497 "[mass_mailing_list_dynamic] Incorrect import path for safe_eval"
Hello,

In the module mass_mailing_list_dynamic, save_eval import path use the old path
`from odoo.tools import safe_eval`
instead of
`from odoo.tools.safe_eval import safe_eval`

Causing error when calling save_eval

[2020-02-07 14:44] #497 closed, assigned to nobody

[2020-02-10 13:16] remihb commented on #480
Thx, I added some modifications today to make it work properly, don't hesitate to pull again the branch, waiting for the PR to be merged.

[2020-02-11 09:54] sbejaoui opened #499 "[12.0][Mail optional follower notification] - notify_followers has no effect"
This bug can be reproduced on runbot.

1. Open partner form
2. Click on send message in the chatter
3. Open the message composer
4. Un-Check "Followers of the document and", a warning message will show saying that " Followers will not be notified"
5. Add a contact to notify
![1](https://user-images.githubusercontent.com/12665409/74226105-3b428800-4cbc-11ea-96ca-011602bf7284.png)
6. Send
7. Go to S

[2020-02-12 19:00] #379 closed, assigned to nobody

[2020-02-15 12:23] Danoolo opened #502 "[11.0][mail_tracking] Dont display spam messages"
Hello people, I have a question about mail_tracking ... when you send emails and the message reaches spam in the recipient's mailbox I understand that in the info of that message with mail_tracking we can know if it was in "spam" status . But it has happened to us many times that emails reach spam in customers but the status of these messages is "sent." I am working with a ubuntu 16.04 instance wi

[2020-02-15 15:38] pedrobaeza commented on #502
It's not an error. mail_tracking can't know if your mail client classifies the mail as spam or the target mail server doesn't inform about that.

That state is thought for certain mail servers like Mailgun that informs back that your mail has been classified as such.

The same happens with the received state. You can only assure in your side that it has been sent. The rest should be informed back,

[2020-02-15 15:38] #502 closed, assigned to nobody

[2020-02-15 22:09] Danoolo commented on #502
Thanks @pedrobaeza for the help info!!

[2020-02-19 09:19] harlibeub commented on #203
ye.. good question... and no feedback.. as usal

[2020-02-19 09:42] simahawk commented on #203
@harlibeub you can candidate yourself to be a member of PSC in this repo and provide prompt answers to such questions :wink:
To do so, you should just spend some time in reviewing and contributing to this repo.
Anybody can do it.

Also, you could help to finish this https://github.com/OCA/oca-github-bot/pull/97.
Would be very appreciated.

@rm-jamotion I added it.

[2020-02-24 18:33] gralet commented on #480
Hello, any chance we can merge the PR ?

[2020-02-24 19:08] #499 closed, assigned to nobody

[2020-03-04 13:44] Guenzn opened #508 "[mail_activity_done] Why implementing monkey patch instead of inheritance?"
At the module mail_activity_done the method action_feedback of model mail_activity has changed by using monkey patching at a post_load_hook instead of inheritance. I can't see any reason why the author wasn't using odoo inheritance mechanism, which would be saver an more handy for further inheritance. @JordiBForgeFlow

[2020-03-04 14:05] Guenzn commented on #508
@JordiBForgeFlow

[2020-03-08 17:09] Ark74 commented on #390
Are these two related?
https://github.com/OCA/social/issues/390
https://github.com/OCA/social/issues/441

[2020-03-08 19:32] pedrobaeza commented on #390
Yes, and they should be fixed by #507, so closing.

[2020-03-08 19:32] #390 closed, assigned to nobody

[2020-03-08 20:29] Ark74 commented on #390
Hmm, applied the last fix and I'm still getting the " Impulsado por Odoo. " (on Spanish) when sending an RFQ.
Maybe it's "Powered by Odoo" instead of "Using Odoo" in my case (as shown in the picture above).

[2020-03-08 20:47] pedrobaeza commented on #390
You have to make the translation in this module to match your sentence

[2020-03-11 12:50] rgl1234 opened #520 "[mass_mailing_partner] what should happen, when partner is archived?"
Hello
By testing mass_mailing_partner, it seems that nothing happens, when a subscribed-partner is archived. In my opinion, there should be the following behaviour, when a partner is archived:

1) unsubscribe partner from all mailing-lists
or
2) delete mass-mailing-contact
or
3) other suggestions ?

What do you think about this?
René

[2020-03-11 15:58] pedrobaeza commented on #520
Not sure if this automation should be done...

@rafaelbn @Yajo what do you think about this?

[2020-03-12 10:49] yajo commented on #520
The archived partner is excluded by default from all searches unless `['archive', '=', False]` or `.with_context(active_test=False)` are explicitly used, so I don't see a reason to do this.

[2020-03-12 10:57] pedrobaeza commented on #520
@Yajo that's not what happens with a mass_mailing.contact linked to an archived partner.

[2020-03-12 11:25] rgl1234 commented on #520
Yes, I f a partner is archived, then mails are still sent to the mailing-list-contact, because the contact is not touched. In my case, I have been asked by the customer to "deactivate" his address in our database, because he has stopped working. I then "unsubscribed" the mass-mailing-contact manually to not  send any mails to him in the future....
Maybe the correct behaviour would be to archive th

[2020-03-12 12:07] yajo commented on #520
The user can click in the unsubscribe link in received mass mailings and alter his preferences, right?
I think Odoo has a mail blacklist in recent versions, which would  also serve your purposes if I'm not wrong. Have you considered these options?

[2020-03-12 12:09] pedrobaeza commented on #520
@Yajo you are deviating from main purpose. This is not something on the customer side, but on your side. If you deactivate a partner, then all in your system should be consistent. I'm stating to think that yes, linked mass_mailing.contact should be deactivated/removed on that deactivation.

[2020-03-12 12:15] yajo commented on #520
I don't think so.

If you have a partner and still have one or several mass mailing contacts with the same address, that's most likely because you want him to be able to manage his subscriptions separately.

The fact you archive a partner means that it's no longer interesting to you; but the fact someone unsubscribes from a mailing list means that it's no longer interesting to him. You have differ

[2020-03-12 12:36] pedrobaeza commented on #520
I still think the contrary. The same way we synchronize other fields between partner and mass mailing contact, active one should be. This is the essence of this module, to link/couple both.

@rafaelbn what do you think?

[2020-03-12 12:44] rgl1234 commented on #520
In my opinion it makes now sence to keep a mass-mailing-contact active, if the linked partner is no longer existing. So in my opinion it should be automated by default.

[2020-03-12 12:47] pedrobaeza commented on #520
@rgl1234 your last sentence seems contradictory. Are you with @Yajo or with me in our arguments?

[2020-03-12 13:31] rgl1234 commented on #520
@pedrobaeza I am same opinion than you are. mass-mailing-contacts should be in sync with partners if there is a link to a partner.....

[2020-03-20 15:44] ValentinVinagre commented on #438
Proposed mail_debrand in https://github.com/OCA/social/pull/525
@rubensben

[2020-03-24 14:30] BT-panken commented on #441
I confirm the problem:

Current user language: english
Email language (partner): german
Translation used by the module: english

[2020-03-30 16:02] ruuter opened #530 "[12.0][mail_tracking] many MailTracking email not found warnings"
This code snippet is polluting my logs with warning messages.

https://github.com/OCA/social/blob/8d985d8da9fa864113f87cd59a2b3173f7f89193/mail_tracking/controllers/main.py#L69-L78

How can this work if state will be marked 'opened' the first time? Each successive open will trigger above warning, because state is now 'opened' and will not match the above domain `('state', 'in', ['sent', 'delivered

[2020-03-30 16:24] pedrobaeza commented on #530
Indeed it seems something weird. Please open a PR doing the search without the state and having the warning if not found, but comparing later if in the required state for doing the call o the event create.

[2020-03-31 12:52] #530 closed, assigned to nobody

[2020-04-08 17:23] Danoolo opened #535 "[12.0][mail_thread_default] Module not migrated to 12.0"
Hi guys!...excuse me if it's not the place where i have to comment this but i'd like to know why oca-module mail_thread_default wasn't migrated to branch 12.0...Is it because odoo core already includes that function in that?. If it's the case, how to configure it to redirect all spam emails to a certain channel?. Thanks so much for your time!

[2020-04-17 05:39] chienandalu commented on #441
In v11, we applied this patch: https://github.com/OCA/social/commit/fbca7320b71233081cd8428fa56bba185cf2c9a4

Now in v12 it would be possible to have an even more deterministic way to ensure the translation is the same used in the template as the base is a qweb template and the translated terms are independent.

Anyone wants to do the patch? :)

[2020-05-08 17:08] syc-pad opened #543 "Issue during installation on Odoo.sh"
Hello,

Your module seems very interesting, but I encountered troubles.

module: mail_tracking
version: 13.0

**Steps to reproduce**
- Install the module on Odoo.sh v13

**Current behavior**
These are error messages I received after the build on Odoo.sh :

Date | Level | Type | Message
-- | -- | -- | --
05/08/2020 18:49:21 | ERROR | server | Module web_mobile: 1 failures, 0 errors
05/08/2020 18:49

[2020-05-08 17:16] pedrobaeza commented on #543
It seems incompatible with `web_mobile` enterprise module, but that out of scope of this. If you want to add compatibility, you can propose a PR in this repo.

[2020-05-08 17:16] #543 closed, assigned to nobody

[2020-05-18 15:13] jaag93 commented on #438
mass_mailing_list_dynamic #545

[2020-05-24 05:23] deantheiceman commented on #405
What did you guys end up doing for this? @hbrunn @ThomasBinsfeld

[2020-05-24 12:39] thomaspaulb commented on #405
@deantheiceman On our side we started on a Google Chrome app chat client, but never finished it:

https://github.com/sunflowerit/sfit-chat

[2020-05-28 11:50] yajo commented on #405
I wouldn't waste time in making Odoo a matrix server, just go for the bridge. It's the way it has to be done, and it will provide the best integration experience with the least support surface.

OTOH, you can try to use https://delta.chat/ as a mail client for Odoo.

[2020-06-08 19:38] zaoral commented on #438
mail_tracking_mass_mailing https://github.com/OCA/social/pull/550

[2020-06-11 21:19] steven-bouillon opened #553 "mail_tracking_mailgun"
I'm sorry if this is not the appropriate way to ask a question about this module but the developers asked to not be contacted directly.

Is it possible to modify this module support postmark? I'm not as knowledgeable on python code as 99% of you that read this so ANY, literally any, insight you can provide would be greatly appreciated.

https://www.postmarkapp.com

Thank you~

[2020-06-12 00:00] pedrobaeza commented on #553
I don't get what's your question

[2020-06-12 04:54] steven-bouillon commented on #553
sorry pedro.. I noticed my question wasn't clear or concise. Has anyone been able to use this module for Postmark? Would I be able to use Postmark's API keys in this module to make it work with their service or would it be a major re-work?

I appreciate any input.

Thanks Pedro.

[2020-06-12 04:55] steven-bouillon commented on #553
I will close this right after I get an answer. I didn't feel right making an "issue" out of this but I also didn't know where else I could ask. Thank you~

[2020-06-12 07:22] pedrobaeza commented on #553
No, this module is only for Mailgun and works only with its API (legacy one). I close it for you.

[2020-06-12 07:22] #553 closed, assigned to nobody

[2020-06-18 14:06] Rad0van commented on #306
fetchmail_thread_default #554

[2020-06-23 14:19] CasVissers-360ERP opened #556 "[13.0] mail_activity_board activities not removed when removing record"
See video:
https://drive.google.com/file/d/1TuPwzCKDffDV-Ypd8NW29XLk1yzRqE2C/view

When mail_activity_board is installed and the underlaying record is removed the activity is not removed. When trying to open the activity it's not shown.

@pedrobaeza

[2020-06-23 14:21] pedrobaeza commented on #556
Sorry, not involved in that module.

[2020-06-25 14:33] NCS-75 opened #558 "[13.0] [BUG]"mail_activity_board" module > Getting bug when schedule activity (activity type to perform : upload Document ) "on any object"
Context :
OCB 13.0 Odoo Server up to date [(06/25/2020),] with Virgin database , to reproduce issue faced on my test environnement, and also on runbot : http://3426400-13-0-433cb9.runbot2-3.odoo-community.org

Steps to reproduce :
Install "mail_activity_board" module
Go to any object record where you can schedule an activity, (eg: contact form) and try to schedule an new activity  as "upload docum

[2020-06-26 13:11] BT-fgarbely commented on #438
Hello
I start the migration of mail_outbound_static

[2020-06-30 11:19] ofonseca-pyming opened #561 "[13.0][BUG] mass_mailing_partner not check for email existence in form"
Error creating a new mailing.contact without email

[code]

https://github.com/OCA/social/blob/433cb9e5b96e2c63d880d39982924a4299ef1170/mass_mailing_partner/models/mailing_contact.py#L104

@manuelcalerosolis

[2020-06-30 14:35] BT-fgarbely commented on #438
mail_outbound_static #562

[2020-07-08 10:02] CasVissers-360ERP commented on #556
@MiquelRForgeFlow
@dajuayen
Look's like a prio issue to me? I tried to solve it but wasn't able to do so.

[2020-07-08 10:38] MiquelRForgeFlow commented on #556
I cannot see the video, it says it didn't exist.

[2020-07-08 11:40] rafaelbn commented on #203
Updated:

- [ ] mass_mailing_event - By @thinkwelltwd - https://github.com/OCA/social/pull/367

[2020-07-08 12:47] CasVissers-360ERP commented on #556
@MiquelRForgeFlow
https://drive.google.com/file/d/1vgNLwhEvGEp0FD_kssyaYLGyVPoimwF-/view

Also tried on v12 runbot. Bug is unique to v13.

[2020-07-08 18:40] MiquelRForgeFlow commented on #556
Solved in https://github.com/OCA/social/pull/564.

[2020-07-09 10:16] #556 closed, assigned to nobody

[2020-07-09 16:00] NCS-75 commented on #558
Hi
@MiquelRForgeFlow
@JordiBForgeFlow
@lmignon
@CasVissers
Does someone agree with this bug ?
Thanks

[2020-07-15 15:19] moylop260 opened #569 "10.0 - Travis is not installing all requirements"
The the stable build result 10.0:
 - https://travis-ci.org/github/OCA/social/jobs/660605462#L476

I just rebuilt the last green build and now it is red.

Related:
 - https://github.com/OCA/social/pull/567

[2020-07-15 17:38] moylop260 commented on #569
Fixed https://github.com/OCA/social/pull/570

[2020-07-15 17:38] #569 closed, assigned to nobody

[2020-07-16 16:45] victoralmau opened #572 "[12.0] Is there an addon for auto-starred incoming messages?"
In many situations, many incoming emails are received from many models in which Odoo correctly marks inbox as unread, but the moment we enter the registry they are marked as "seen" and disappear, making it "easy" for any message to be left without do.
Perhaps an addon would be useful for the community that marks all the incoming messages from clients to the followers of the registry in question as

[2020-07-16 16:49] pedrobaeza commented on #572
This can go to OCA/social. It can be interesting, but defining rules for that auto-starring, not being fixed.

[2020-07-16 17:03] victoralmau commented on #572
Ok, any ideas for the rules to define so that it doesn't always apply?

If the issue can be moved to perfect OCA / social (I wasn't sure which would be the right place)

[2020-07-16 17:12] pedrobaeza commented on #572
It can be rules by content, by issuer, by recipients, etc, similar to Gmail filters.

[2020-07-21 13:14] skeller1 opened #574 "[12.0] [BUG] mail_activity_partner: insufficent access rights on activity records after commercial_partner_id sync"
**Impacted versions:**
12.0

**Steps to reproduce:**

1. Install mail_activity_partner addon
2. Create an activity on one individual (contact) and assign it to an **other!** user
3. Open the company contact of the individual contact
4. Change  value of at least one synced commercial field (vat, address (sometimes), credit limit,...)
5. Error appears

**Current behavior:**
- error on saving company

[2020-07-21 14:51] skeller1 commented on #574
In Odoo 13 docs there's a new hint: The related fields are computed in sudo mode. So maybe this is a limitation of Odoo V12?

[2020-07-23 06:51] burhanghee commented on #425
@metamasterplay any plans to get this module ported to V.13??

[2020-07-23 07:58] Rad0van commented on #438
fetchmail_thread_default #576

[2020-07-27 12:45] JorgeQuinteros opened #580 "[12.0][mail_tracking_mailgun] Error when check email validation"
Impacted versions:
12.0

I have two configuration of outgoing mail server for transactional emails I use **Mailgun**
In Mailgun I have created:

- All Legacy Webhooks pointing to my web https://<domain web>/mail/tracking/all/<database name>

In Odoo created 3 system parameters:

1. mailgun.apikey
2. mailgun.validation_key
3. mailgun.auto_check_partner_email

When I trying validate an email I get t

[2020-07-27 21:54] JorgeQuinteros commented on #580
Sorry, my fault, my flexible plan does not include email validation. To do this I need upgrade my account to Foundation plan.

[2020-07-27 21:54] #580 closed, assigned to nobody

[2020-08-04 06:29] rousseldenis opened #589 "[12.0] mail_tracking: Lot of concurrent updates when calling the open url"
[code]

This is the error raised when calling the url : https://(...)/mail/tracking/open/(...)/blank.gif

[2020-08-04 06:42] pedrobaeza commented on #589
We are not experiencing this in our deployments. There can be a chance of this happening if you have the record locked (doing an edition for example), but the probability is low. You should also mention your Odoo version. Is this always happening in your DB?

[2020-08-04 09:28] rousseldenis commented on #589
It seems that the update query is launched twice (same id, same log time). I can explore a little bit more. Maybe the blank.gif is inserted twice in mail ?

[2020-08-04 09:36] pedrobaeza commented on #589
Not sure about the duplicity... if you can analyze an affected mail we can clear this doubt, but if it's twice, why I'm not experiencing this problem? Can you try in a fresh DB with no other addons?

[2020-08-04 09:37] rousseldenis commented on #589
Of course, I'm on it

[2020-08-04 09:38] rousseldenis commented on #589
Maybe it is specific to a situation, so first debugging with full data

[2020-08-04 09:40] pedrobaeza commented on #589
OK, let me know anything.

[2020-08-04 10:08] rousseldenis commented on #589
It seems that status is well updated.

But, the query that has succeeded is executed few time before the failing one.

I'm wondering if the state should be checked before executing the tracking.write({'state': state')}): https://github.com/OCA/social/blob/12.0/mail_tracking/models/mail_tracking_event.py#L101

Checking transitions between states would be better I think in order to lower the possibl

[2020-08-04 10:51] pedrobaeza commented on #589
I remember that it was designed that way for avoiding inter-locks reading and writing, but it was done this way on v8, so things might change.

[2020-08-12 12:33] skeller1 opened #590 "[12.0][BUG] mail_activity_board: compatibility with active_id smart button implementation"
**Impacted versions:**
12.0

**Steps to reproduce:**
1. Install crm addon
2. Create mail.activity record for an res.partner company record with an id higher than highest res.partner id available on system
3. Open the mail activity in mail activity board form view
4. Open the linked record (res.partner) through the link provided in the form view
![LinkTopartnerOpprMAILActivityBoard](https://user-im

[2020-08-17 08:44] kh-badep commented on #425
Hello,
 A PR has been submitted here for v12: https://github.com/OCA/social/pull/568. I'll do another one for v13 once it's approved.

@pedrobaeza any tips on why or when the PR will be reviewed?

[2020-08-24 14:28] Rad0van commented on #438
mail_attach_existing_attachment #594

[2020-08-24 14:32] Rad0van commented on #438
For the completeness: fetchmail_thread_default (which is already migrated and merged) is missing in the list.

[2020-08-28 11:18] Rad0van commented on #438
mail_attach_existing_attachment_account #600

[2020-08-30 11:05] steven-bouillon opened #601 "[13.0] Traceback - Invalid "order" specified - base_search_fuzzy"
Hello,

This error has started randomly showing up in my logs continuously since installing this module earlier this week. We haven't used it yet but nonetheless I continue to get this message 30+ times per day in my logs. I'm out of ideas for trying to fix it..

[code]

Environment:
OS: Buster
Edition: Odoo 13.0-20200815 (Community Edition)
I can include my odoo.conf if you think it'll make a dif

[2020-08-31 13:04] NCS-75 opened #603 "[13.0] [BUG]"base_search_mail_content" module > Getting bug with "hr" (Employees) module"
module: base_search_mail_content
version: 13.0

**Context :**
OCB 13.0 Odoo Server up to date [(08/30/2020),]
Virgin database , to reproduce issue faced on my test environnement.
Also !! >> Get same bug on runbot : http://3437172-13-0-56e0a2.runbot2-2.odoo-community.org

**Steps to reproduce**
- Install together  "base_search_mail_content" & "hr" (Employees) native odoo module, and try to access t

[2020-09-04 16:26] sergioeix opened #607 "[13.0] mail_debrand ISSUE"
Odoo 13 community Ubuntu 18.04
Hello I installed this module and i noticed that on my side its not working anyway and i cant offer more info but when installed every mail still branded by odoo, i tried the language issue mentioned on other odoo 12 thread but no way, i dont know if i am the only one with this issue.
B/R

[2020-09-11 14:53] yung-wang commented on #607
I tried today also, it seems to look hardcoded for 'powered by' and try to remove that. But if you use a different language for your mail, nothing got debranded.

See issue #441

[2020-09-11 16:47] sergioeix commented on #607
I have installed English and spanish and got the same issue on the 2 languages, but let me check in deep on English because i do a single send to try.
B/R

[2020-09-14 07:17] sergioeix opened #611 "[13] mail_tracking ISSUE when uninstalling this addon"
Odoo 13 Community, Ubuntu 18.04
I am trying to uninstall this addon but i am getting this traceback:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo13/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type

[2020-09-14 07:30] pedrobaeza commented on #611
Just restart your service.

[2020-09-14 07:30] #611 closed, assigned to nobody

[2020-09-14 07:31] pedrobaeza commented on #611
If still not working, then update `mail` module.

[2020-09-17 10:13] astirpe commented on #607
@sergioeix I'm proposing a fix in https://github.com/OCA/social/pull/613, would you give it a try?

[2020-09-22 07:51] yung-wang commented on #607
@astirpe I tested and approved the fix. It is working for Dutch and English. @sergioeix Please test, so this fix will be merge sooner.

[2020-09-22 09:41] sergioeix commented on #607
@astirpe @yung-wang I test it and its working on spanish lang

[2020-09-22 09:50] #607 closed, assigned to nobody

[2020-09-29 10:21] BT-aestebanez commented on #603
Same here: http://3440272-13-0-7d4692.runbot2-2.odoo-community.org/web#action=&cids=1&menu_id=284
with Recruitment

[2020-09-30 14:36] Danoolo commented on #535
This module has already migrated to version 12.0

[2020-09-30 14:36] #535 closed, assigned to nobody

[2020-10-04 10:35] OCA-git-bot opened #620 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] base_search_mail_content - By @victoralmau - #734
- [x] mail_activity_board - By @SodexisTeam - #661
- [x] mail_activity_done - By @manuelregidor - #758
- [x] mail_activity_team - By @SodexisTeam - #662
- [ ] mail_chatter_thread_colour - By @etobella - #954
- [x] mail_drop_target - By @olgam

[2020-10-06 10:20] pedrobaeza opened #622 "Switch default branch to 13.0"
@sbidoul @simahawk please

[2020-10-06 10:39] pedrobaeza commented on #603
Fix in #623

Please review it

[2020-10-06 10:53] sbidoul commented on #622
done

[2020-10-06 10:53] #622 closed, assigned to nobody

[2020-10-06 10:56] BT-aestebanez commented on #603
Tested in the runbot of the PR https://github.com/OCA/social/pull/623
It works with Recruitment

[2020-10-06 17:42] #603 closed, assigned to nobody

[2020-10-09 15:05] mileo opened #625 "[RFC] Marketing Automation"
Hi,

We are planning to create a module of marketing automation.

Searching on the web we found this JS widget: https://github.com/alyssaxuu/flowy

![Demo](https://media.giphy.com/media/dv1C56OywrP7Cn20nr/giphy.gif)
<br>A javascript library to create pretty flowcharts with ease

Any one knows a similar or a better JS lib?

CC: @hendrixcosta

[2020-10-16 08:44] BT-aestebanez commented on #438
mail_optional_follower_notification https://github.com/OCA/social/pull/476

[2020-10-16 16:41] len-foss commented on #480
It should definitely be mergeable, but not in its current state due to the dependency issue. Once fixed I think it should be greenlit.

[2020-10-20 20:38] sergioeix opened #629 "[13.0] mail_tracking issue when set all as reviewed"
13 Community Ubuntu 18
When try to set all as reviewed on #general or other channel doesnt matter wich one this error is shown:
![image](https://user-images.githubusercontent.com/62206774/96641328-da784e80-1324-11eb-984d-9e93f03e0b70.png)
Fully reproducible on runbot
B/R

[2020-10-21 07:03] pedrobaeza commented on #629
This is fixed by #624 when ported to 13.0. The button shouldn't appear there.

[2020-10-21 20:35] sergioeix commented on #629
This button is still there, its also shown on runbot enviroment actually.
![image](https://user-images.githubusercontent.com/62206774/96783250-c0567300-13ed-11eb-9dfa-8a2c41b15a0d.png)

[2020-10-21 22:11] pedrobaeza commented on #629
Are you talking about the runbot of the mentioned pr?

[2020-10-23 17:13] TheElementalOfDestruction opened #632 "[13.0][Improvement] mail_drop_target directly references stream for html instead of using existing property htmlBody"
I noticed [here](https://github.com/OCA/social/blob/0904c5c7864ac82dad3a998f5c51966f66dba3e8/mail_drop_target/models/mail_thread.py#L94) (mail_drop_target/models/mailthread.py line 94) that you were using `message_msg._getStream("__substg1.0_10130102")` to attempt to get the html body instead of using the provided `.htmlBody` property. I recommend changing this line to be `message_msg.htmlBody or

[2020-10-23 17:48] #572 closed, assigned to nobody

[2020-10-27 09:13] fmdl opened #634 "[Issue] mail_optional_autofollow: mail_post_autofollow=False doesn't work with Sale, Purchase, ..."
mail_post_autofollow=False doesn't work with Sale, Purchase, ...

Odoo fix : https://github.com/odoo/odoo/pull/60792

[2020-10-27 09:13] fmdl commented on #634
@ThomasBinsfeld

[2020-10-30 13:25] Rad0van opened #635 "13.0 mail_tracking ruining mails"
Hi,

we send emails from Odoo using mail account sales@ourdomain.com When someone replies the responses get linked to appropriate object as expected. We have also installed fetchmail_thread_default to catch mails that do not get paired and create a record in a mail thread. Everything works fine.

Afterwards we have installed mail_tracking to get tracking info. However this ruined the setup. Sudden

[2020-11-02 09:06] Rad0van commented on #635
Well it turns out it's not working (but used to work before) even without mail_tracking so the culprit has to be somewhere else. Thus closing this. Sorry for nuisance.

[2020-11-02 09:06] #635 closed, assigned to nobody

[2020-11-06 10:56] sbejaoui commented on #438
mail_template_substitute #640

[2020-11-17 07:20] joao-p-marques commented on #438
I will migrate mass_mailing_custom_unsubscribe_event

[2020-11-17 14:11] #386 closed, assigned to JordiBForgeFlow

[2020-11-26 10:24] #629 closed, assigned to nobody

[2020-12-01 14:52] AkshayaGovindarajan opened #643 "mail_restrict_follower_selection - Restrict follower selection for a certain record type"
The module mail_restrict_follower_selection restricts the followers globally but not for certain record. E.g if i want to restrict the followers on helpdesk.ticket , its not working. I tried it in the odoo v13.0. If its working for certain record, could someone give me the example of system parameter?

Thank you

[2020-12-01 14:56] bodedra commented on #643
cc @pedrobaeza @JoanSForgeFlow @etobella @phucngta

[2020-12-03 23:11] RachidAlassir opened #644 "[13.0] mass_mailing_partner: Mailing list contact with an empty "email" field displays an error"
Create a mailing list contact without email (_email field is not required_) an error will be displayed.
The issue is [here](https://github.com/OCA/social/blob/13.0/mass_mailing_partner/models/mailing_contact.py#L105) where `self.email` is `False`.

Screenshot:
![image](https://user-images.githubusercontent.com/48803268/101099565-2c1f2480-35c5-11eb-914a-1de768a95784.png)

[2020-12-04 07:34] #644 closed, assigned to nobody

[2020-12-04 07:35] pedrobaeza commented on #644
I thought email was required, but I see that is not. 8fb1fc0 fixes this.

[2020-12-08 02:49] pierre-pizzetta commented on #620
mail_outbound_static in #645

[2020-12-21 10:53] angelmoya commented on #625
No this way.... but I did a module to creare Marketing Automation with Activities, with three main functionalities:
- mail.activity can be set as date a time.
- mail.activity can be set a auto=true, if is auto=true on datetime activiti will be done atomatically.
- mail.activity can execute a ir.action.server when is done.

This ir.action.server can plan other mail activity... this way you can exec

[2020-12-21 11:56] mileo commented on #625
Nice... Can we review the code?

[2020-12-21 12:23] angelmoya commented on #625
OK, I will do a PR this week

[2021-01-08 05:36] COSTLAND opened #653 "[13.0][BUG] mail_outbound_static: Whilelist based logic not working"
module: mail_outbound_static
version: 13.0

**Steps to reproduce**
- ...using Odoo.sh DEV branch
- Install module: mail_outbound_static, CRM
- Setting - External Email Servers - Enable
- Setup SMTP with testing credential

- Setup each outgoing server with whitelist

- Change current user email address to test@company-2.com
up right corner - user Preferences - email address

Then, go to CRM to rep

[2021-01-08 08:04] atchuthan commented on #620
mail_debrand in https://github.com/OCA/social/pull/651

[2021-02-04 14:31] atchuthan commented on #620
mail_activity_board(https://github.com/OCA/social/pull/661) and mail_activity_team(https://github.com/OCA/social/pull/662)

[2021-02-05 09:22] thsdrouot commented on #620
mass_mailing_partner migration to V.14 done. How to push it ?

[2021-02-05 09:59] atchuthan commented on #620
@thsdrouot https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0
Please follow the steps provided in it

[2021-02-15 10:18] themreza opened #669 "Updating the Sendgrid module to Odoo 13"
@ecino

I looked into your repository and it seems like you've been working on the Sendgrid module for Odoo 12 (https://github.com/CompassionCH/social/tree/12.0-sendgrid-all).

Is it possible to update it for installation on Odoo 13?

If you couldn't upgrade it yourself, I appreciate if you hint what needs to be upgraded.

[2021-02-15 14:29] ecino commented on #669
Hello, no plan to upgrade on our side, we switched over to mailchimp. I don't know really what would be needed for v13 as we are astill using Odoo 12. The sendgrid modules were working on v12 so I would start by testing this version (it is on the branch you referrenced above) over Odoo 13 and see from there what would be needed.

[2021-02-16 15:07] themreza commented on #669
Thanks. I'll take a look and try to upgrade them.

[2021-02-16 15:07] #669 closed, assigned to nobody

[2021-02-16 20:53] agent-z28 opened #673 "[11.0][BUG] mail_tracking: missing mail_id foreign key violation"
By sending a mail for an unlink of a record with a base_automation, a foreign key violation is thrown.

Maybe it should be possible to decide via context, if the tracking for an email will be done?

[2021-02-16 20:59] agenterp commented on #673
https://github.com/OCA/social/pull/674

[2021-02-17 09:20] SeilaPr opened #675 "[13.0][BUG] mail_activity_done: When using activity_type with 'Upload document' it breaks the whole partner view"
**module: mail_activity_done**
**version: 13.0**

**Steps to reproduce**
Create a new 'Activity Type' (Settings > Technical > Email > Activity Types). On field 'category' ('Action to Perform') use 'Upload Document'. Then go to a contact (partner) and schedule a new activity with the 'Activity Type' you just created.
![image](https://user-images.githubusercontent.com/23140503/108182519-63539b00-710

[2021-02-17 16:46] thsdrouot commented on #620
@atchuthan Thanks. I'll do it.

[2021-02-19 19:25] mileo commented on #625
Any news?

[2021-02-22 14:07] mbcosta commented on #306
mail_improved_tracking_value https://github.com/OCA/social/pull/677, but from version 10 to 12 ( PR migration from 10 to 11 seems freezed https://github.com/OCA/social/pull/254 ), any problem ? Should it be made first ?

UPDATE: PR changed to be based in https://github.com/OCA/social/pull/678 migration to v11 and keep the commit history.

[2021-02-23 00:15] phuctranfxvn commented on #620
email_template_qweb https://github.com/OCA/social/pull/679

[2021-02-23 03:48] phuctranfxvn commented on #620
mail_inline_css https://github.com/OCA/social/pull/680

[2021-02-24 00:32] phuctranfxvn commented on #620
mail_layout_preview https://github.com/OCA/social/pull/681

[2021-03-05 19:13] oleg-babintsev opened #684 "[14.0] mail_debrand: FutureWarning in log if using python 3.8 and above"
Module: mail_debrand
Version: 14.0

WARNING-messages in log during usage of module:

[code]

[2021-03-12 18:06] bealdav commented on #625
Hi @angelmoya Curious to see your code on this topic

[2021-03-12 18:29] bealdav opened #685 ", lead"

[2021-03-12 18:33] bealdav opened #686 "RFC manage your daily job with messages and activities, i.e leads"
Use case example but can be applied on any model:

- you need to check what's happens on leads.
- lead form describe what the lead are but not what are next actions and what's happened in the past
- you need to check many leads at once, first see those with most events on them to manage your teams vendors
- you have to filter relevant messages or activities based on your own criteria
- some system

[2021-03-12 18:51] pedrobaeza commented on #686
I haven't found such need, and the needed ones are covered with kanban view with the activities icon (the clock) with colors for differentiating late/today/future activities + individual notifications when replies come to the system, but I'm not a deep user of the CRM, having only 3-4 leads per day.

[2021-03-12 18:55] JordiBForgeFlow commented on #686
mail_activity_board is useful as a central panel of your activities, pending and completed (using mail_activity_done).

In your Discuss you have access to all your incoming emails already.

A combined object? I'm not sure..

[2021-03-12 21:22] #685 closed, assigned to nobody

[2021-03-13 01:04] mileo commented on #625
@hendrixcosta Push some modules related here: https://github.com/hendrixcosta/social

[2021-03-15 07:00] angelmoya commented on #625
Hi @bealdav @mileo sorry for delay..

I would like to migrame module to latest versión, and improve to do according OCA standars... but I had no chance

This is the module that is working on version 11.0, on a customer without problems for 2 years.

https://github.com/PESOL/social/tree/11.0-ADD_mail_activity_auto

Only one thing to take care, and its that for this customer activities date was chan

[2021-03-16 09:18] chienandalu opened #688 "mail_activity_team: auto created activity is blocked by team constraints"
Steps to reproduce (with `hr_holidays`):

- Create an employee linked to a user with another user as the employee responsible.
- Set a mail activity team for that user and another team for the responsible.
- Ask for a leave.
- A `ValidationError` raises: **The assigned user is not member of the team.** (https://github.com/OCA/social/blob/12.0/mail_activity_team/models/mail_activity.py#L70-L74)

Wh

[2021-03-19 05:30] jcdrubay commented on #438
Could you please add `mail_footer_notified_partner` to the list of modules to upgrade?
https://github.com/OCA/social/tree/12.0/mail_footer_notified_partner

[2021-03-24 09:32] victoralmau commented on #620
`mail_preview_base` https://github.com/OCA/social/pull/692

[2021-04-13 11:47] chienandalu commented on #688
Anybody? :sweat_smile:

[2021-04-13 12:13] MiquelRForgeFlow commented on #688
Do you do that manually?

The onchanges are there to make sure the activity has 1) a team or 2) has a responsible or 3) has both, which the responsible is in the team. Thus, if any of the onchanges have been executed, then the constraint shouldn't be blocking the activity.

It seems to me the root of the error is that when you ask for a leave, the automatically leave created doesn't trigger the on

[2021-04-13 12:30] chienandalu commented on #688
Thanks @MiquelRForgeFlow I'll check that :slightly_smiling_face: :+1:

[2021-04-14 10:48] chienandalu commented on #688
Here's the PR: https://github.com/OCA/social/pull/696

[2021-04-14 10:48] #688 closed, assigned to nobody

[2021-04-19 13:31] misterspock opened #700 "Wrong Numbers of Activities"
To whom it may concern

Since the installation of the Activities Board we have the PRoblem that the number of activities "deviates" more and more and we can't find the cause for it.

1. deviation:
The DropDown shows 40 delayed activities in CRM, when I look there I find only 15 delayed activities.

<img width="803" alt="Bildschirmfoto 2021-04-13 um 12 07 16" src="https://user-images.githubusercont

[2021-04-20 08:30] JorgeQuinteros opened #701 "[12.0] mail_tracking: SpamAssassin flag 'RAND_MKTG_HEADER'"
Hello,
Recently some invoice emails that I have been sending through Odoo were not reaching the recipients.They were always to the same customers, and if you sent with the same email account but from Thunderbird for example, it would arrive perfectly.

I have tested with mail-tester to check mail reputation and due to a recent update of SpamAssasin, the headers for Odoo mail tracking detects them

[2021-04-20 12:21] ghost opened #702 "[14.0] mail_debrand: TypeError: cannot use a string pattern on a bytes-like object"
This error occurs in the app email marketing(mass_mailing) by clicking on "Test" in the Mailings tab

 File "/opt/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/opt/odoo/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/opt/odoo/odoo/http.py", line 359, in _call_function
    return checked_call(s

[2021-04-22 15:53] dhx commented on #702
We also see this problem when odoo tries to process **incoming** mails:
[code]

[2021-04-23 21:17] #684 closed, assigned to nobody

[2021-04-23 21:17] #702 closed, assigned to nobody

[2021-04-24 14:17] bunhin opened #704 "[13] mail_debarnd does not delete completely yet for odoo 13 default email template"
I install module mail_debrand in odoo 13 standard, It does remove all the "Powered by Odoo", but still it is not removing odoo linking in the body  such as odoo tour, and odoo mobile app linking. Plain Odoo text not removed also.

May be it is not intended to remove odoo in body text and link, for user to change the template, but it will be good if the module cover those too.

[2021-04-27 15:55] ygol commented on #558
on runbot I got rid from that error after uninstalling mail_activity_done (cf. https://github.com/OCA/social/issues/675)

[2021-05-11 13:54] petrus-v opened #709 "[14.0] mail_send_copy to user or sender ?"
Hi there,

As far I've experimented and [understood reading source code](https://github.com/OCA/social/blob/14.0/mail_send_copy/models/ir_mail_server.py#L20), at the time writing copy is sent to the sender.

In case we are using mail template, sender can be different from the user ([likes on the default account move email template](https://github.com/OCA/OCB/blob/14.0/addons/account/data/mail_temp

[2021-05-11 14:03] petrus-v commented on #709
@legalsylvain as author of this module do you have any suggestion ?

[2021-05-17 18:18] AreebSiddiqiIR commented on #620
I am trying to migrate mail_tracking but my tests are failing. I am getting:

2021-05-17 16:39:21,290 7455 INFO test14_3 odoo.addons.mail_tracking.tests.test_mail_tracking: Starting TestMailTracking.test_bounce_new_partner ...
2021-05-17 16:39:21,409 7455 ERROR test14_3 odoo.addons.mail.models.mail_mail: failed sending mail (id: 1) due to 'tuple' object has no attribute 'startswith'
Traceback (mos

[2021-05-18 03:04] ryanc-me opened #713 "[14.0] mail_debrand: breaks email redirect links in Odoo EE"
The regex (`[^(<)(</)]odoo`) in the mail_debrand module seems to be broken.

Firstly - and please correct me if I'm wrong - Python does not support captures like `(xx)` inside groups like `[xx]`. The syntax `[^(<)(</)]` is matching anything that is not `(`, `<`, `/`, or `)`. I believe the intention was to negatively match against `<` or `</`.

Secondly, this regex _also_ matches any anchor/href co

[2021-05-18 05:07] cbssolutions commented on #713
We are taking the templates and search in them tags with odoo brading and
we are removing them.
If after this step, is still somewhere odoo we are taking it out excepting
<odoo </odoo that we are doing it with regex and is working as the next
python lines are showing.

'<odoo  aaa'

'</odoo bbbb'

'some text that was not removed from above code with in it'

'12456 some before <odoo ddd '

for  htt

[2021-05-18 09:24] ryanc-me commented on #713
Right, I understand now. Thank you for the clarification!

Please consider the following though:
[code]

The group `[^(<)(</)]` says _match when the single char does not equal `(`, `)`, `<` or `/`_, which I don't think is the intended behavior here - the above tests *should have* resulted in removal. In this situation we need to use a negative look-behind, something like `(?:<|</)odoo`. That will

[2021-05-18 13:25] cbssolutions commented on #713
about regex, you are right.

but what client wants odoo debranding, and his erp is odoo.company.com :)
first step in rebranding will be his url not to contain odoo

On Tue, May 18, 2021, 12:24 Ryan Cole ***@***.***> wrote:

[2021-05-18 23:19] ryanc-me commented on #713
That's a good point. But still, this module only advertises "mail debranding", so we shouldn't force any other opinions on the user ;)

[2021-05-19 06:42] cbssolutions commented on #713
is also for reports

On Wed, May 19, 2021, 02:19 Ryan Cole ***@***.***> wrote:

[2021-05-25 18:34] petrus-v commented on #709
I'm closing this issue has #710 has been merged

[2021-05-25 18:34] #709 closed, assigned to nobody

[2021-05-28 16:12] flotho commented on #713
ah ah... loks like tit could solve https://github.com/OCA/OCB/issues/1016

[2021-06-01 05:02] marcos-mendez commented on #405
I've been developing a mobile interface that can use the odoo.mail xml-rpc, if you are interested please feel free to use it https://github.com/popsolutions/bailaki-app

[2021-06-01 11:48] rafaelbn opened #722 "[13.0][mass_mailing_list_dynamic] Delivery Fails when "Add and remove" option is selected"
Hello,

AEODOO is using this module to send emails to associates.

We have detected that when the Dynamic list is selected with

- Sync method: Add and remove

Delivery fails with error:

None

See screenshot:

![01-06--2021_13-33-27](https://user-images.githubusercontent.com/8736623/120316836-27220000-c2de-11eb-9038-54859e593f75.png)

@ioans73 @Abranes @fcvalgar

This module was migrated here: ht

[2021-06-11 15:17] flotho commented on #713
https://github.com/OCA/social/pull/720

[2021-06-14 07:40] ypapouin opened #725 "[12.0] ci/runbot fail with an error about phantomjs-prebuilt: Phantom installation failed TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
All current PR against 12.0 fail because of this error:

[code]

Full log sample: https://runbot.odoo-community.org/runbot/static/build/3486882-711-3b8033/logs/job_10_test_base.txt
Could someone take a look on this ?

[2021-06-16 11:22] clxadmin opened #727 "[13 CE] mail_debrand leaves the text: 'Sent .'"
Hi Experts
mail_debrand leaves the text 'Sent .'  left to the emails

[2021-06-24 19:09] jcBalmes92 opened #732 "[12.0] [13.0] [BUG] Wrong form view when opening "mail.activity" registry from calendar view."
**Impacted versions:**
12.0, 13.0

**Steps to reproduce:**
Go to Dashboards / Activities / Calendar View / Click on one activity to open Form View.

![image](https://user-images.githubusercontent.com/75234645/123317766-64079e00-d4fc-11eb-960b-3e8d18727e77.png)

**Expected result:**
Form view named "mail.activity.boards.view.form" should be open.

**Actual result:**
Form view named "mail.activity.v

[2021-06-25 02:19] jcBalmes92 commented on #732
This solves the bug:

[code]

According to [this documentation](https://www.odoo.com/documentation/12.0/developer/reference/views.html#calendar), this attributes needs to be present in a calendar view if you want to force a specific form view:

- readonly_form_view_id
- event_open_popup

[2021-06-25 02:23] jcBalmes92 commented on #732
@victoralmau @pedrobaeza

[2021-06-25 06:08] pedrobaeza commented on #732
This module is not ours.

[2021-06-29 08:13] victoralmau commented on #620
`base_search_mail_content` https://github.com/OCA/social/pull/734

[2021-07-05 09:03] IJOL opened #737 "[10.0] mail_embed_image adds a non documented dependency on BeautifulSoup"
As the subject states, this new module for 10.0 branch adds an dependency on BeautifulSoup parser, i think that this at least needs to documented on the requeriments.txt for the branch, and make our ci pipes happy to get a new dependency inside our images...

[2021-07-06 12:48] bvdeveloper opened #739 "Not compatible with odoo.sh giving KeyError: 'failed_message_ids' and build failed on odoo.sh"
even after removing the tests folder from module still giving same error.

[2021-07-06 12:49] #739 closed, assigned to nobody

[2021-07-06 12:50] bvdeveloper commented on #739
got solution.

[2021-07-09 05:14] ska-ibees opened #740 "[14.0][mail_tracking] Need to support OWL framework"
Due to JS framework migration to OWL framework in Odoo 14. JS modules in mail_tracking are failed to load dependencies and inheritence/extention also need to support OWL framework.

[2021-07-09 06:21] pedrobaeza commented on #740
Can you check @angelJuaGar @moylop260 ?

[2021-07-09 14:04] pedrobaeza commented on #701
Fixed for v13 in #741

[2021-07-09 14:04] #701 closed, assigned to yajo

[2021-07-12 10:34] MAG-Florian-Chevalier opened #743 "[12.0] mail_tracking - js error when clicking on a contact name"
Hi,

I'm getting the js error shown by this screenshot when I click on the purples names (in the "To" field) in a private message (and only here)
![Screenshot_20210712_123021](https://user-images.githubusercontent.com/73696844/125273273-0a311180-e30d-11eb-8f5e-7f5064e92eb4.png)
It's working properly when trying to access the same "link" in ant form view.

Regards

[2021-07-12 10:36] pedrobaeza commented on #743
Please indicate complete steps to reproduce the problem in an OCA runbot instance.

[2021-07-12 11:42] MAG-Florian-Chevalier commented on #743
Mail_tracking's runbot on v12 wasn't accessible so I forced a rebuild but it apparently failed (here's the link to it : https://runbot.odoo-community.org/runbot/build/3492550).
Is there another way to test the module on runbot or to rebuild ?

[2021-07-12 11:43] pedrobaeza commented on #743
You have to rebuild, but you can also express full detailed instructions to get to the error.

[2021-07-12 11:53] MAG-Florian-Chevalier commented on #743
Here are the steps to reproduce the error:
- Go to a partner's page and send a message with another user as follower
- Log in as the other user (which was following), he should have a message notification for this.
- When you click on the message notification, the small window for messages should appears at the bottom of the screen
- In this window, just above the body part of the message, there i

[2021-07-12 13:18] MAG-Florian-Chevalier commented on #743
12.0 runbot failed three times and here are the logs I can find :

docker: Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: TLS handshake timeout.
See 'docker run --help'.

[2021-07-12 14:28] pedrobaeza commented on #743
OK, a video may help as well to identify the issue.

[2021-07-23 02:53] kurtbinspired opened #750 "[12.0][mail_activity_done] - CRM Pipeline Progress Bar issue"
_read_progress_bar() function on mail.activity.mixin (odoo/addons/mail/models/mail_activity.py) has been refactored to be a SQL statement for performance:
[code]

this conflicts with the 'done' and 'active' fields added by mail_activity_done; 'done' activities are being included in the JOIN, causing the progress bar to show a large number of opportunities/leads as 'overdue'.
In order to work, Odoo

[2021-07-27 16:53] samannisar opened #752 "[14.0] mail_tracking - Contact > 'MailTracking emails' is searching for email using contains instead of equal"
Pre-Condition: Your database should have enough data so you can see test result and emails sent to those contacts.

Steps to Reproduce:
1. Go to a Contact
2. Go to 'MailTracking emails' menu

Issue: The 'MailTracking emails' searches for the main email from the entire database for all emails related to the given contact.
It uses contains for search instead of equal.

For example: Let's say contact

[2021-07-27 16:56] pedrobaeza commented on #752
Do you mean searching on the search bar?

[2021-07-27 16:57] samannisar commented on #752
![image](https://user-images.githubusercontent.com/59840077/127196107-1243d050-49b0-4c47-9106-da3714440f7b.png)

That's the auto search that happens when you go to contact then mail tracking.

[2021-07-27 17:02] pedrobaeza commented on #752
OK, understood. @angelJuaGar @moylop260 can you check (although I suspect this is not something of the latest migration)?

[2021-07-28 13:44] angelmoya commented on #625
Hi, finally I will migrate this module to version 14.0 in next months, and I would like to do in OCA

[2021-07-28 18:03] diggy128 opened #753 "[12]mail_tracking: error when sending mass mail via mail.compose.wizard"
How to reproduce:
- Go to crm in list view
- Select an opportunity/lead
- Action menu -> mass mail opportunity
- Add some text in mail.compose.wizard pop up and click send

An error is logged regarding insufficient read access rights but no error message in the UI.
The message state in mail.mail is 'exception' and no tracking info is created BUT the message is sent to the recipient.

The error com

[2021-07-28 18:14] pedrobaeza commented on #753
I don't think the culprit is `mail_tracking` as I have used it in my own system without that problem.

[2021-07-28 19:12] diggy128 commented on #753
Do you use the mass_mail mode of mail.compose.wizard?
If that's the case then I'll have to dig deeper because stepping through the code didn't pass through any other modules.

The other thing I can imagine is something going terribly wrong with my record rules...

I'll check again tomorrow and update.

[2021-07-29 06:18] pedrobaeza commented on #753
I have just tried it again (but in v13), and no error is returned.

[2021-07-29 16:18] diggy128 commented on #753
Yes. You were right and so was I.
It was a corner case with custom record rules on mail.tracking when no partner was set.

Thank you @pedrobaeza for taking the time to look into it.

Closing as invalid.

[2021-07-29 16:19] #753 closed, assigned to nobody

[2021-08-10 14:18] delkano opened #755 "[14.0] [mail_tracking] Can't see tracking icons on contact thread"
I'm probably missing something.

I've installed mail_tracking (using the wide load addons list, since I have a multidb install) on my Odoo 14.0 Community server.
I've checked and the sent emails contain the pixel image, the database is correctly updated when the mails are opened, etc.

The only issue is I can't see the mail state on the UI. When I look on a contact page, on the message thread, ins

[2021-08-10 14:36] pedrobaeza commented on #755
Do you have any special backend theme?

[2021-08-10 14:38] delkano commented on #755
Normally yes, but I've also tried on a plain new installation without any installed themes

[2021-08-10 14:38] pedrobaeza commented on #755
Are you able to reproduce the problem in OCA runbot?

[2021-08-10 14:45] delkano commented on #755
I didn't try an OCA runbot setup, and I don't have an empty server to try it. It might take a while for me to set up a virtual machine or something.

[2021-08-10 14:47] pedrobaeza commented on #755
You don't have to populate anything, but use the OCA runbot through the badge "Runbot | Try me" in the README file.

[2021-08-10 14:50] delkano commented on #755
Please excuse my ignorance, but which README?

[2021-08-10 15:02] pedrobaeza commented on #755
The module README: https://github.com/OCA/social/blob/14.0/mail_tracking/README.rst

[2021-08-10 15:06] delkano commented on #755
Ah yes, I looked into that but couldn't find a way to send mails from there, and there are no mail threads on the examples (only several errors).

[2021-08-10 15:09] pedrobaeza commented on #755
The important thing is that if you send something (no matter if it doesn't really go out), the tracking line with the recipients is added.

[2021-08-10 15:14] delkano commented on #755
This is from the runbot. It doesn't seem much different from my UI, no new line after the header:
![image](https://user-images.githubusercontent.com/6650309/128892968-c53b5deb-2b1d-4d49-8fa1-77217111fdc5.png)

[2021-08-10 15:19] pedrobaeza commented on #755
@angelJuaGar and @SimoneVagile you did the migration. Can you tell about this?

[2021-08-11 10:46] SimoneVagile commented on #755
@angelJuaGar I think the problem is [here](https://github.com/OCA/social/blob/14.0/mail_tracking/static/src/xml/mail_tracking.xml#L58)

`mail.widget.Thread` templates have been removed in [this](https://github.com/odoo/odoo/commit/3fea5b2136627c1d7e83b2a5e111952fe3eb10a1#diff-8bd58931457097b8c55aa68d5ee188aacaf5f416f277478041369e4b24682c49).

@pedrobaeza any ideas of this?

[2021-08-12 11:21] naglis commented on #620
`mail_notification_custom_subject`: https://github.com/OCA/social/pull/757

[2021-08-13 17:20] #752 closed, assigned to nobody

[2021-08-16 18:37] promotobillet opened #761 "mail_tracking_mailgun webhook error on creation."
While testing/creating webhook in Mailgun I get the following error:
I am unsure if its my setup or a bug.  All configurations in Odoo look set correctly (and as they did in Odoo v10 which we migrated from, and where we used the module in the past).

It may also be because Mailgun now has a new webhook setup. I used their **legacy webhooks** that works perfect.

Response: {"jsonrpc": "2.0", "id":

[2021-08-16 19:04] pedrobaeza commented on #761
Are you using old style webhooks? They are needed for this to work.

[2021-08-16 20:27] promotobillet commented on #761
Yes I am using legacy webhooks now and they work. Thanks

Maybe the readme can reference that, since Mailgun and updated to a new version.

[2021-08-16 20:27] #761 closed, assigned to nobody

[2021-08-17 06:16] pedrobaeza commented on #761
It was incorrectly added in #430. Can you please propose a PR re-adding this in the proper place (readme/ROADMAP.rst) and put the proper steps in readme/CONFIGURE.rst?

[2021-08-27 10:13] visiniaga commented on #755
any update on this?
having same issue, no icon update while the email tracking is opened, tested in odoo 14 enterprise, already enable wide module in odoo.conf:
server_wide_modules = web,mail_tracking

![mail tracking problem](https://user-images.githubusercontent.com/43309334/131111680-cb078c2e-71d3-40b9-b6c8-4a4df9dd25c4.png)
![mail tracking problem screenshot 2](https://user-images.githubuserco

[2021-08-27 12:42] antuan159 commented on #755
I'm also interested in when there will be a fix on this issue
![Screenshot from 2021-08-27 15-56-35](https://user-images.githubusercontent.com/42843350/131130805-0f23e3d5-53de-4c9a-8fb3-2a7cf0c6d159.png)

[2021-08-30 09:42] TesaLazarenko commented on #755
I am very much looking forward to correcting the problem. Thanks.

[2021-08-30 09:44] VitaliiHlapshunSmartteksas commented on #755
Hi there!
Looking forward to get updates and fixes regarding the issue as well.
Thanks in advance.

[2021-08-30 09:46] pedrobaeza commented on #755
@moylop260 it seems you migrated half the module. Can you please restore this part?

[2021-08-30 09:53] SimoneVagile commented on #755
@pedrobaeza @antuan159 check for [https://github.com/OCA/social/issues/755#issuecomment-896715631](https://github.com/OCA/social/issues/755#issuecomment-896715631), I think this is the key.

[2021-08-30 12:23] kmagusiak commented on #755
I think this is a duplicate of https://github.com/OCA/social/issues/740. Odoo indeed migrated some of the GUI to OWL framework.

[2021-08-31 08:37] yvaucher commented on #620
Updated with what has been migrated til now.

[2021-09-07 12:15] CasVissers-360ERP commented on #750
I can confirm this issue for v13 as well.

[2021-09-08 09:39] #686 closed, assigned to nobody

[2021-09-10 13:41] auroraeosrose opened #768 "[14.0] Conflict with owl change in mail_restrict_send_user"
some changes in the way callbacks are made in new owl versions are throwing javascript errors when creating new items

[code]

Changing the line https://github.com/OCA/social/blob/14.0/mail_restrict_send_button/static/src/js/chatter.js#L175

to also check for thread existing

[code]
solves the issue

[2021-09-10 13:42] pedrobaeza commented on #768
Can you propose the PR?

[2021-09-10 20:11] dreispt commented on #768
Fixed by #769

[2021-09-10 20:11] #768 closed, assigned to nobody

[2021-09-16 09:25] #713 closed, assigned to nobody

[2021-09-21 19:19] JorgeQuinteros commented on #750
The same thing happens in v12.

[2021-09-22 06:44] CasVissers-360ERP commented on #750
I think there is no way of fixing this without Odoo providing a hook to allow us to alter the domain.

[2021-09-22 14:14] ivantodorovich opened #776 "[14.0] mass_mailing_partner : issues with company_name and incompatibility with mass_mailing_unique"
As mentioned in this comment: https://github.com/OCA/social/pull/773#issuecomment-924961156

It's proposed to test this module separately in https://github.com/OCA/social/pull/773.

This issue is created to track these issues and eventually fix them and revert the tests isolation

[2021-09-22 14:19] ivantodorovich commented on #776
Also maybe consider using `mass_mailing_contact_partner` instead https://github.com/OCA/social/pull/767.

It's a completely different module, as the relation between `mailing.contact` and `res.partner` is in the opposite direction, but IMO makes more sense given the data model (multiple partners can share an email address). I don't know the functional requirement for `mass_mailing_partner` but may

[2021-09-22 14:58] chienandalu commented on #776
Would it be possible to have a context check in your side that we could use to keep the compatibility avoding the expection for that case?

Ok, we can fix that easily

Wow, it's terrible, indeed and it should go away.

There's one important thing we'd miss that is creating the partner on the fly when the contact doesn't have one to match with.

[2021-09-22 15:00] chienandalu commented on #776
ping @ernestotejeda

[2021-09-22 15:09] chienandalu commented on #776
@ivantodorovich I just made https://github.com/OCA/social/pull/777 It's for `12.0` but once meged we'll forward port it up to `14.0`.

[2021-09-22 15:38] ivantodorovich commented on #776
Hmmm.. like how?

`mass_mailing_unique` implementation is super simple and straightforward. It'd be a shame to making it more complex just because of `mass_mailing_partner`:

https://github.com/camptocamp/social/blob/14.0-mig-mass_mailing_unique/mass_mailing_unique/models/mailing_contact.py

I would re-check the need for `copy_data` during `write`, because it seems if some fields have `copy=False`

[2021-09-22 15:45] pedrobaeza commented on #776
The weird thing is that an SQL constraint shouldn't act on a new record that is only on the ORM memory.

[2021-09-22 16:12] ivantodorovich commented on #776
But it doesn't.
The issue is the new record doesn't copy the email AFAICS

[2021-09-22 16:14] pedrobaeza commented on #776
Ah, then the code should be pass such email in the values of the copy. Probably on the initial created version (v8), the field was copy=True, and there wasn't such problem, but tests are not very well done for detecting these things on migration.

[2021-09-23 15:23] victoralmau commented on #620
`mass_mailing_resend` https://github.com/OCA/social/pull/781

[2021-09-29 16:36] steeluis opened #782 "Won´t debrand Invoice Mail"
module: mail_debrand
version: 13.0

**Steps to reproduce**
- install mail_debrand
- Create and publish Invoice
- Send by email

**Current behavior**
- Email received is Odoo Branded

**Expected behavior**
- Invoice Email deBranded

(I have also tried with a message via chatter, and the message is deBraded)

Branded invoice:
![image](https://user-images.githubusercontent.com/62643127/135311278-d373

[2021-09-30 09:56] ao-landoo commented on #755
I just tested this module and it's not working correctly.

[2021-09-30 14:27] moylop260 commented on #755
Sorry, I don't get you

What is wrong here?

Could you open an issue with steps to reproduce it, please?

[2021-10-05 11:13] victoralmau commented on #620
`mass_mailing_list_dynamic` https://github.com/OCA/social/pull/785

[2021-10-17 10:22] OCA-git-bot opened #789 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] base_search_mail_content - By @Shide - #864
- [ ] email_template_qweb - By @dzungtran89 - #1072
- [x] mail_activity_board - By @JoanMForgeFlow - #802
- [x] mail_activity_team - By @BernatPForgeFlow - #833
- [ ] mail_allow_portal_internal_note
- [x] mail_attach_existing_attachment - By @Alvar

[2021-10-19 10:23] zohaibrehman opened #790 "Body View not loading in mail"
module: email_template_qweb
version: 13.0

**Steps to reproduce**
We tried this module and selected these:

![image](https://user-images.githubusercontent.com/16989790/137891217-19bd28b8-01b6-4258-8fe9-3dc1f5fffbc2.png)
**Current behavior**
When trying on crm it produces this which is not our view and i dont know how this is producing?:
![image](https://user-images.githubusercontent.com/16989790/1

[2021-10-19 13:28] zohaibrehman commented on #790
@rvalyi @dave

[2021-10-19 13:28] #790 closed, assigned to nobody

[2021-10-28 20:31] alan196 commented on #755
This issue is fixed with this PR https://github.com/OCA/social/pull/792

I have tested it in my production database and it works 👍

[2021-10-28 20:31] alan196 commented on #740
This issue is fixed with this PR #792

I have tested it in my production database and it works 👍

[2021-10-29 00:03] visiniaga commented on #755
Great, it works tested in 14.0+e-20211018

thanks

[2021-11-11 11:28] victoralmau commented on #438
`mail_attach_existing_attachment_account` https://github.com/OCA/social/pull/797

[2021-11-11 14:21] Rad0van commented on #750
@CasVissers-360ERP & @kurtbinspired would overriding the whole method with correct SQL work? Would it also make **mail_activity_done** work? I know it's a way we do not want to use but I'd need to get that **mail_activity_done** module working (see #758 ). Thank you very much.

[2021-11-18 15:49] #776 closed, assigned to chienandalu

[2021-11-18 18:32] fernandahf opened #803 "[14.0] mail_tracking: button 'Tracking emails' in partner is showing a different count that shown when you click on it"
The mail_tracking in v13 is searching the emails as follows:

https://github.com/OCA/social/blob/78daea28e5763cb132c77fcc986408680dd4e84f/mail_tracking/models/mail_tracking_email.py#L203-L214

It's using a regex to catch cases when the recipient is `<(emailexample@.example.com)>` and if regex is not matched, it's using the email like comes in the record, but in v14.0 is using the function `email_s

[2021-11-18 18:33] pedrobaeza commented on #803
Have you updated after #779 ?

[2021-11-18 18:56] fernandahf commented on #803
@pedrobaeza

I just tested with the fix of 779 but it is showing a different count `Tracking Emails ` than emails shown when clicking on it, too.

Smart Button:

![Screen Shot 2021-11-18 at 12 53 04](https://user-images.githubusercontent.com/54731581/142478572-2052038c-e4ac-4c82-b5da-86e03293b106.png)

Tree view mail tracking (It's showing 24)

![Screen Shot 2021-11-18 at 12 53 15](https://user-im

[2021-11-18 18:58] pedrobaeza commented on #803
Ok, then any PR for fixing this is welcome. Please take into account the performance.

[2021-11-23 16:55] chrismann-ous commented on #620
mail_activity_board has already been done, please update the todo task list to reflect this as per @atchuthan
I have migrated mail_activity_done and will submit PR shortly.

[2021-11-23 17:49] chrisandrewmann commented on #620
mail_activity_done #805

[2021-11-23 22:34] chrisandrewmann commented on #620
`mail_activity_done` #806

However it's failing on codecov/patch and codecov/project. I'm new to this and not sure why, anyone able to help?
I followed all the steps exactly as per: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

Please update todo task list to mark mail_activity_board is done also, previously completed by @atchuthan #661

[2021-11-28 12:27] #20 closed, assigned to nobody

[2021-11-28 12:27] #95 closed, assigned to nobody

[2021-11-28 12:27] #131 closed, assigned to nobody

[2021-11-28 12:27] #165 closed, assigned to nobody

[2021-11-28 12:27] #169 closed, assigned to nobody

[2021-11-28 12:27] #175 closed, assigned to nobody

[2021-11-28 12:27] #183 closed, assigned to nobody

[2021-12-05 12:28] #186 closed, assigned to nobody

[2021-12-05 12:28] #203 closed, assigned to nobody

[2021-12-06 04:28] #261 closed, assigned to ecino

[2021-12-08 23:39] nalejhandro opened #814 "[14.0][BUG] mail_template: eliminate all content of the auth_signup.set_password_email"
In the mail.template "auth_signup.set_password_email"  is eliminated all the context of the template not only the word Odoo.

this is preview of the template
![image](https://user-images.githubusercontent.com/87669386/145308001-16092f15-e401-4a42-8f81-b0a7fccb14e4.png)

And this is the template pre effect of the OCA model
![image](https://user-images.githubusercontent.com/87669386/145308312-dbc501

[2021-12-12 12:28] #229 closed, assigned to nobody

[2021-12-19 12:29] #241 closed, assigned to nobody

[2022-01-01 22:09] emagdalenaC2i commented on #789
Migrating `mass_mailing_partner` [PR#825](https://github.com/OCA/social/pull/825)

[2022-01-13 14:25] BernatPForgeFlow commented on #789
Migrating mail_activity_team to v15

[2022-01-13 16:28] sschuetz2bit commented on #625
Hi @angelmoya
Whats the status of the migration?

[2022-01-13 18:04] #803 closed, assigned to nobody

[2022-01-16 12:30] #291 closed, assigned to nobody

[2022-01-17 08:15] angelmoya commented on #625
Hi @sschuetz2bit sorry, but finally we do not do it...

The main problem is that in previous version we did change activities date to datetime, and we don't want to do it on newest  versions.

Then we can automatize activities, but we don't know at what time it will launch, and also we can have a lot of task to launch each day, at same time... so we think that could be better to integrate with que

[2022-01-17 08:18] sschuetz2bit commented on #625
Thanks for the update!

[2022-01-23 12:27] #306 closed, assigned to nobody

[2022-01-23 12:27] #314 closed, assigned to nobody

[2022-01-23 12:27] #327 closed, assigned to nobody

[2022-01-24 16:15] Bart-dh opened #838 "[15.0] mail_debrand error on update calendar item"
When updating a calendar item with an attendee of type 'contact':

RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/home/odoo/src/odoo/odoo/http.py", line 688, in dispatch
    result = self._call_function(**self.params)
  File "/home/odoo/src/odoo/odoo/http

[2022-01-24 16:18] Bart-dh opened #839 "[15.0] mail_debrand email frame issue"
After installation of the module mail_debrand, the email frame is not as clean as it is supposed to be.

![image](https://user-images.githubusercontent.com/74648219/150821368-38e38475-d826-46ed-84c6-62c7ff30e09b.png)

Without module:
![image](https://user-images.githubusercontent.com/74648219/150821470-781353c1-30ee-464e-bb31-90fb69b54e6c.png)

[2022-01-25 12:13] jabelchi opened #840 "mail_autosubscribe doesn't work for some models"
module: mail_autosubscribe
version: 13.0

**Steps to reproduce**
1. Configuration > Technical > Automation > Autosubscribe Models. / Create 2 records: 1 for Helpdesk Tiquets and another for Project Tasks
2. On the partner (contact of a customer) check the 2 boxes in the field "In copy of"
3. Create a Helpdesk Ticket for another contact of the customer.
4. Create a Task for the same contact of step

[2022-01-30 12:26] #335 closed, assigned to nobody

[2022-02-01 08:29] yankinmax commented on #789
`mail_outbound_static` migrated here https://github.com/OCA/social/pull/841

[2022-02-23 16:32] SimoneVagile commented on #620
Is there a chance to migrate `mail_notify_bounce` from 10.0 to 14.0?

[https://github.com/OCA/social/tree/10.0/mail_notify_bounce](https://github.com/OCA/social/tree/10.0/mail_notify_bounce)

[2022-02-25 13:49] MiquelRForgeFlow opened #851 "[12.0] mail_drop_target: error in extract_msg external library"
## Module
`mail_drop_target`

## Describe the bug
SyntaxError in `extract_msg` external library

## To Reproduce
Install `extract_msg` external library:
[code]

[2022-02-26 11:43] rafaelbn commented on #851
Dear @MiquelRForgeFlow could you please make the PR to solve it? It's just upstream this one https://github.com/OCA/social/pull/583 from @hbrunn . Maybe @etobella want to review it as he migrate to v12 😄 Thank you!!!!! all of you! ❤️

[2022-02-27 08:00] MiquelRForgeFlow commented on #851
Dear @rafaelbn That PR was done in https://github.com/OCA/social/pull/559. That's not the error. The error we are facing is when installing an external library, nothing to do with that module per se.

[2022-02-27 08:56] hbrunn commented on #851
this looks very much like the library needs a pin for that python version

[2022-03-04 12:59] gurneyalex opened #860 "Backport support for Google Mail OAuth authentication for Odoo <= 11.0"
Google announced that they will be requiring oauth for mail access starting on may 30, 2022.

Odoo has made changes starting on version 12.0 (https://github.com/odoo/odoo/commit/336c9aab3619abb5bfbeb07f87ae014facdefb0b) to add this support.

We need to backport this to addons for version 11.0 and before.

[2022-03-04 13:52] dreispt commented on #860
I feel that the https://github.com/OCA/server-auth repo is more adequate for this.

[2022-03-04 14:51] pedrobaeza commented on #860
I don't think so, as that's for Odoo authentication methods, not for mailing.

Remember to put on the README the Odoo backport disclaimer and put the initial commit with the module as is extracted from Odoo attributed to for example `info@odoo.com`.

[2022-03-04 17:59] dreispt commented on #860
@pedrobaeza Right, that makes sense.

[2022-03-06 12:28] #366 closed, assigned to nobody

[2022-03-06 17:08] pedrobaeza commented on #424
The latest versions use the new API and auto populate the hook through a button.

[2022-03-06 17:08] #424 closed, assigned to nobody

[2022-03-07 07:38] yajo commented on #860
I think OCB is the place. After all, it only exists with the purpose of backporting stuff from Odoo 🤷🏼‍♂️. The fix linked alters the fetchmail module, which is ubiquitous. I don't see any benefit on increasing the complexity of the backport (having to separate some parts of the commit in OCB and some other parts in a separate module in another repo).

[2022-03-07 08:48] gurneyalex commented on #860
I tend to agree with @Yajo here: it seems to me that a fix in OCB would be easier, and these modules don't need to evolve over time and be migrated forward.

[2022-03-07 08:51] pedrobaeza commented on #860
OK, as you prefer. OCB is not very prepared in CI terms, but seeing the Odoo commit, there's a minimal change to be done on core `fetchmail` module and  `base`, so that one is needed to be on OCB or monkey-patched in the module, so it can be easier to be done on OCB.

[2022-03-07 09:52] simahawk commented on #860
:+1: for OCB

[2022-03-07 10:52] gurneyalex commented on #860
Do we need an update in mail_environment or maybe a new module in https://github.com/OCA/server-env ?

[2022-03-07 16:57] dreispt commented on #860
AFAIU  OCB is for bugfixes, not feature backports.
The rule was to early merge upstream proposed PRs (even if rejected by Odoo)

In the cases where an Odoo module was back or forward ported, that was done as a module in the appropriate repo.
My feeling is that this should be an OCA/social module, extracted from Odoo and backported.

[2022-03-09 15:43] rgl1234 commented on #520
Hello @Yajo can you help me creating an automated action, that takes care of this?

[2022-03-09 15:54] rgl1234 commented on #520
Hello
I would like to set "opt_out" to "True" for every list the archived-partner is subscribed by automated action. Can someone help me with that?

[2022-03-13 12:29] #368 closed, assigned to nobody

[2022-03-14 08:53] yajo commented on #520
Another option you have is to add a configuration to the module. A check box in `res.config.settings` that enables this behaviour you want. Then, include it in the module as normal code.

[2022-03-15 10:55] Shide commented on #789
Migrating `base_search_mail_content` https://github.com/OCA/social/pull/864

[2022-03-20 12:29] #393 closed, assigned to nobody

[2022-03-20 12:29] #394 closed, assigned to nobody

[2022-03-22 15:10] grindtildeath commented on #520
Jumping in on this discussion since @rgl1234 required us to help in writing an automated action for this. After giving it much thought and although I was thinking adding a configuration in `res.config.settings` was the right move, I now tend to think the opposite.

If the goal of the module is to link mailing contacts to partners, why would we want an active mailing list contact to be linked to an

[2022-03-23 09:06] pedroguirao commented on #620
Hi all, i dont see mail_preview_audio, has to be added to the list?

[2022-03-25 12:19] pedroguirao commented on #620
I did the MIG 14.0 https://github.com/OCA/social/pull/874

[2022-03-27 12:30] #405 closed, assigned to nobody

[2022-03-28 09:47] sergioeix opened #875 "[14] mail_drop_target not working"
## Module
mail_drop_target

## Describe the bug
Tested on runboat. Try to add a mail to any record you cant, this was an issue on 13 and solved with a web_drop_target update #2057 https://github.com/OCA/web/pull/2065 @pedrobaeza

## To Reproduce
Try to add a mail to any record
**Affected versions**:
14
Steps to reproduce the behavior:
1. Try to add a mail to any record
2.
3.

**Expected behavior**

[2022-03-29 12:37] mgielissen commented on #839
Also in 14 with Dutch language

[2022-04-04 16:49] augusto-weiss commented on #789
mail_activity_board was migrated by @JoanMForgeFlow
please mark as done!

[2022-04-04 17:54] rafaelbn commented on #789
Done @augusto-weiss

[2022-04-04 18:12] rafaelbn commented on #620
Updated all the PR I found and marked as done 😄

[2022-04-04 18:16] rafaelbn commented on #620
I don't know why some of the modules are duplicated in the list 🤔 maybe the bot...

I cleaned them

[2022-04-05 08:15] remi-filament opened #884 "[14.0] mail_debrand empty content for sign up"
Using mail_debrand, the content of the mail sent at sign up is empty (headers and footer are properly filled) :
[code]

Without mail_debrand module installed I get the following content :
[code]

The issue seems related to this block : https://github.com/OCA/social/blob/02467d14fa4b2ade959ced981f3a0411d46e1d26/mail_debrand/models/mail_render_mixin.py#L51-L52 where the full div is removed because o

[2022-04-05 08:30] remi-filament commented on #884
Workaround is to update e-mail template auth_signup.set_password_email to remove the following lines :
https://github.com/odoo/odoo/blob/5bd8596410f8584ce430567ebfec0a42fb40f755/addons/auth_signup/data/auth_signup_data.xml#L152-L153

[2022-04-12 14:56] nicomacr commented on #789
Migrating mail_autosubscribe https://github.com/OCA/social/pull/894

[2022-04-17 12:31] #425 closed, assigned to nobody

[2022-04-17 12:31] #426 closed, assigned to nobody

[2022-04-21 11:08] jappi00 commented on #839
I have the same issue in german

[2022-04-21 11:35] jappi00 commented on #839
So I have find a quick solution.
After removing the translation mentioned in the scree
![Bildschirmfoto 2022-04-21 um 13 33 56](https://user-images.githubusercontent.com/13003175/164449654-837e7c72-feaf-43ca-8c3a-b91c492c5a37.png)
nshot everything works.

[2022-04-21 12:28] mgielissen commented on #839
The quick fix also works with Dutch translation, remove only the translated value for 'Powered By'

![afbeelding](https://user-images.githubusercontent.com/7700396/164457908-030185a9-8d2b-4cdf-9f11-7d0cae25688c.png)

[2022-04-21 15:15] jappi00 commented on #839
So I now have looked into the code a little bit further.

Since this line https://github.com/OCA/social/blob/15.0/mail_debrand/models/mail_render_mixin.py#L104 does not work with another language he jumps into this if statement https://github.com/OCA/social/blob/15.0/mail_debrand/models/mail_render_mixin.py#L25

Here the mail body should get splitted around the Customer Written Body:
https://githu

[2022-04-24 12:31] #427 closed, assigned to nobody

[2022-04-24 12:31] #433 closed, assigned to nobody

[2022-04-26 14:11] augusto-weiss commented on #789
mail_attach_existing_attachment can be marked as done #816

[2022-04-28 07:35] BT-dmontull commented on #789
I'll start migration of mass_mailing_list_dynamic [#901](https://github.com/OCA/social/pull/901)

[2022-04-29 05:22] s0me0ther opened #902 "[14][XML-RPC] odoo-addon-base-search-mail-content » message_content"
## Module
odoo-addon-base-search-mail-content

## Describe the bug
Particular requests via XML-RPC (searchAndRead) on Partner Table will fail with error on «message_content»

## To Reproduce
Activate Base Search Mail Content App

Steps to reproduce the behavior:
1. request id 1 on table partner via XML-RPC api (searchAndRead)

**Expected behavior**
Successfully fetch row

**Error**
[code]

[2022-04-30 13:48] yankinmax commented on #860
I opened PR to resolve this issue. Reviews and help is appreciated. Thanks
https://github.com/OCA/social/pull/903

[2022-05-01 12:33] #441 closed, assigned to yajo

[2022-05-01 12:33] #465 closed, assigned to nobody

[2022-05-05 16:19] klando commented on #839
same issue here. Maybe the expression can be collected from the translations to cover all languages ? (workaround for the underlying bug mentioned by @jappi00 )

[2022-05-05 18:32] OKT96 commented on #839
same issue here as well on v14. the workaround seems to work - thanks for that

[2022-05-07 03:29] COSTLAND commented on #875
Just tested on Odoo V14 EE, we are having the same issue as described.
- After drop the `eml` or `msg` file into chatter, those file will only stay as attachments instead of chatter message.

[2022-05-08 12:32] #468 closed, assigned to nobody

[2022-05-08 12:32] #480 closed, assigned to nobody

[2022-05-16 17:50] nicomacr commented on #789
migrating mail_tracking_mass_mailing #895

[2022-05-18 17:56] alexis-via commented on #839
I confirm the problem with up-to-date code on Odoo v14 : after installation of the mail_debrand module, the mails sent by Odoo have a bad layout.

![mail_debrand_bad_layout](https://user-images.githubusercontent.com/1157917/169110565-9a6c3e26-f7f0-4d33-bc0a-3b457c4747d8.png)

[2022-05-19 12:44] nicomacr commented on #789
Migration mail_tracking_mailgun #909

[2022-05-22 12:34] #508 closed, assigned to nobody

[2022-05-23 14:48] rafaelbn commented on #839
Thank you for reporting MT-787 @moduon

[2022-05-26 23:47] rafaelbn commented on #839
Closing issue as the solution is in https://github.com/OCA/social/pull/911

[2022-05-26 23:47] #839 closed, assigned to nobody

[2022-05-27 09:06] klando commented on #839
The issue was also against v15. @rafaelbn Can you apply on it also ?

[2022-05-27 16:08] Shide commented on #839
@klando yes, we can cherry-pick once is merged :)

[2022-05-29 02:25] odaybari opened #913 "[15.0] mail_debrand unexpected keyword argument 'options'"
## Module
mail_debrand

## Describe the bug
After install, sending emails from sales or user invites (tested so far) give me `_render_template() got an unexpected keyword argument 'options'
`
## To Reproduce
**Affected versions**: 15.0

Full error

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch

[2022-05-29 13:18] odaybari commented on #913
Hi,

This has been solved by reloading odoo service / docker in my instance.
Hope this helps

[2022-05-29 13:18] #913 closed, assigned to nobody

[2022-05-29 19:11] TheElementalOfDestruction commented on #632
I can actually add that since 0.30.0 the htmlBody can now generate from the RTF body should the HTML not be present on its own. Both the plain text body and HTML body may be generated in this way.

However, an exception can now occur in both if there is a body that should be extractable but the deencapsulator has an error, so I recommend putting the access to the bodies in a small try block to pro

[2022-05-30 17:48] rafaelbn commented on #884
Hello @remi-filament 😄 !!! Do you want to review this PR? https://github.com/OCA/social/pull/911

It doesn't solve your issue, but is the first step.

@moduon MT-787

[2022-05-30 17:50] rafaelbn commented on #839
Merging in v14. Tomorrow we will PR to v15

[2022-05-31 09:31] Highcooley opened #915 "[14.0] mail_debrand raises error on mass mailing"
## Module
mail_debrand

## Describe the bug
When trying to send a mass mailing email (either as test or as a real mass mail) with mail_debrand installed, the following error is raised:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/home/odoo/src/odoo/odoo/

[2022-06-03 13:11] pegonzalezspesol commented on #789
Working on mail_layout_preview

[2022-06-05 12:31] #558 closed, assigned to nobody

[2022-06-05 12:31] #643 closed, assigned to nobody

[2022-06-12 12:30] #561 closed, assigned to nobody

[2022-06-12 12:30] #574 closed, assigned to nobody

[2022-06-12 12:30] #653 closed, assigned to nobody

[2022-06-15 14:18] klando commented on #839
@rafaelbn it looks like this addon is breaking digest email, it looks similar to this bug: body content is altered and all < and > are replaced by their html code.

[2022-06-19 12:32] #438 closed, assigned to nobody

[2022-06-19 12:32] #589 closed, assigned to nobody

[2022-06-19 12:32] #590 closed, assigned to nobody

[2022-06-19 12:32] #673 closed, assigned to nobody

[2022-06-26 12:32] #601 closed, assigned to nobody

[2022-06-26 12:32] #675 closed, assigned to nobody

[2022-06-26 12:33] #700 closed, assigned to nobody

[2022-06-27 12:05] eLBati commented on #701
Porting to 12.0 with https://github.com/OCA/social/pull/926

[2022-06-27 12:08] eLBati commented on #701
Porting to 10.0 with https://github.com/OCA/social/pull/927

[2022-06-29 07:53] baimont commented on #620
mail_template_multi_attachment https://github.com/OCA/social/pull/928

[2022-07-03 12:32] #634 closed, assigned to nobody

[2022-07-07 09:35] francesco-ooops commented on #884
@Shide did you find any hint on how to fix this issue?

[2022-07-08 08:51] bakibakis commented on #902
the same error also when requesting stock.production.lot
[code]

[2022-07-08 09:26] bakibakis commented on #902
OK, I have found a workaround.....looks like when you specify the fields which you want to get in XML-RPC read request this issue disappears....

...this worked for me.

[2022-07-10 12:41] #740 closed, assigned to nobody

[2022-07-11 10:17] bjornbillen opened #936 "[15.0] mail_debrand sends mail in text/plain in e-mail marketing app"
## Module
mail_debrand

## Describe the bug
In the e-mail marketing application, an e-mail is sent with wrong content-type.
The recipient gets the e-mail without HTML markup.

## To Reproduce
15.0 EE

Steps to reproduce the behavior:
1. Create a e-mail marketing campaign
2. Select a default mailing template
3. Send a test e-mail
4. Receive and inspect the e-mail headers and look for "text/plain"

[2022-07-13 18:22] kharkot opened #938 "module does not work on account.move model (sending invoices)"
module does not work on account.move model (sending invoices)

## Module
mail_optional_follower_notification

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
14

Steps to reproduce the behavior:
1. approve invoice
2. send invoice

**Expected behavior**
checkbox on mail wizard same as on eg PO, SO

[2022-07-18 18:02] rafaelbn commented on #884
This issue is trying to be fixed recreating the template in https://github.com/OCA/social/pull/937

[2022-07-24 13:25] pedrobaeza commented on #755
Fixed already.

[2022-07-24 13:25] #755 closed, assigned to nobody

[2022-07-26 10:01] Yenthe666 opened #940 "[15.0] mail_debrand: portal invite breaks on *.odoo.com domains"
## Module
The name of the module that has a bug.
`mail_debrand`

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
**Affected versions**: I presume V13-V15 but confirmed & tested in V15.

Steps to reproduce the behavior:
1. Setup a new Odoo.sh project that maps to some URL which ends in `.odoo.com` (default behaviour
2. Deploy the `mail_debrand` app on this O

[2022-07-31 12:35] #704 closed, assigned to nobody

[2022-08-01 10:18] llabusch93 opened #947 "[15.0] mail_tracking: When installed portal access links do not work anymore and require login"
## Module
mail_tracking

## Describe the bug
When mail_tracking is installed, customers without an account are redirected to the login page, when they click for instance the button on a sale order email to sign it.

## To Reproduce
**Affected versions**: 15.0

Steps to reproduce the behavior:
1. Install mail_tracking
2. Send an email to the customer on sale order with the request to confirm it in

[2022-08-07 12:33] #722 closed, assigned to ioans73

[2022-08-07 12:34] #725 closed, assigned to nobody

[2022-08-14 12:34] #727 closed, assigned to nobody

[2022-08-14 12:34] #732 closed, assigned to nobody

[2022-08-14 12:34] #737 closed, assigned to nobody

[2022-08-15 12:28] Yenthe666 commented on #940
For those of you looking for a solution.. we built a little extension on top which allows us to add regex options to whitelist options.
`__manifest__.py`:
[code]

`data/ir_config_parameter.xml`:
[code]

`models/mail_render_mixin.py` (def remove_href_odoo):
[code]

You can then modify the "mail_debrand_extra_regex" `ir.config_parameter` to hold something like this:
[code]

or
[code]

[2022-08-19 11:25] rDelaye opened #949 "[13.0] [BUG] mass_mailing_partner importing contacts in a mailing list does not link them to it"
## Module
mass_mailing_partner

## Describe the bug
When importing contacts from a file inside the contact view of a mailing list, the created partners will not be linked to the mailing list.

## To Reproduce
**Affected versions**: 13.0, 14.0

Steps to reproduce the behavior:
1. Install mass_mailing and mass_mailing_partner modules
2. Create an empty mailing list
3. Go to the mailing list recipien

[2022-08-21 12:34] #625 closed, assigned to nobody

[2022-08-21 12:34] #743 closed, assigned to nobody

[2022-08-21 12:34] #750 closed, assigned to nobody

[2022-08-23 15:00] ghost opened #952 "[15.0] mail_tracking: Deprecation Warning on sending"
## Module
Mail Tracking

## Describe the bug
Prior to installing the mail_tracking addon email's sent perfectly fine.
Now that it is installed mail is still sending and receiving fine but a deprecation warning is logging to odoo.log
Main line is :
`2022-08-23 14:18:57,180 2710 WARNING dbname py.warnings: /home/odoo/addons/mail_tracking/models/ir_mail_server.py:16: DeprecationWarning: currentThread

[2022-08-23 15:16] pedrobaeza commented on #952
Can you please do the PR changing the call?

[2022-08-23 15:17] ghost commented on #952
Hey @pedrobaeza , I will give it a shot shortly, just be aware I am still a Python novice.

[2022-08-23 15:19] pedrobaeza commented on #952
Give it a try and tell me.

[2022-08-23 16:09] ghost commented on #952
@pedrobaeza Done and tested on my production 15 install was easier then I imagined :)

[2022-08-23 16:10] pedrobaeza commented on #952
Great, closing in favor of the pull request

[2022-08-23 16:10] #952 closed, assigned to nobody

[2022-09-02 10:27] antoniocanovas opened #957 "[13.0] [14.0] mail_activity_done .- Wrong kanban color of opportunities state if previous activity archived"
Archived activities are used in KANBAN CRM environment resume color status by stage_id.
It's because we ha installed mail_activity_done and completed some activities.

Color status of resume bar is computed including done activities.

## To Reproduce
1. Create an oportunity and activity with previous date (kanban view is red).
2. Complete activity as done, and create the next one as future.
3. Kan

[2022-09-07 09:29] much-baris opened #959 "[15.0] mail_debrand: Cannot sent out emails from chatter if follower has sales access rights"
## Module
mail_debrand

## Describe the bug
If you send a message from the chatter of an opportunity, which has a follower that has sales access rights (meaning if the field "sel_groups_13_14_15" is not false (model=res.users)), then you cannot send out emails.

## To Reproduce
**Affected versions**: 15.0

Steps to reproduce the behavior:
1. Install mail_debrand
2. Install the CRM app
3. Create a

[2022-09-14 06:14] Semeckas opened #964 "D"
.

[2022-09-14 15:23] #964 closed, assigned to nobody

[2022-09-18 13:45] nilshamerlinck commented on #789
`mail_send_copy` migrated here: https://github.com/OCA/social/pull/967

[2022-09-20 12:20] ghost opened #969 "mail reply didn't attach to the right asset -> possible to move"
Some times depending to the mail client (eg. nextcloud webclient) of the replier there didn't use the reply-to informations in a prober way. So that the message get "lost" .. in our case the reply eg to a sales order appears at a new lead in crm (we fetch all unroutable mails to a lead).

What is the odoo way to repair relation in this case? is it possible to change the relation of a message to a

[2022-09-20 17:31] pedrobaeza commented on #969
This module was done for that purpose: https://github.com/OCA/social/tree/8.0/mail_forward, but it's a bit dangerous in its usage.

[2022-09-21 08:55] ns-landoo opened #970 "[14.0][BUG] Internal notes alert view all followers."
### **Module**

mail_show_follower

### **Describe**
The bug seems to be that it shows the message when an internal note is sent and in alert see all of follower and not only people who are sent this internal note.

![2022-08-24 12_59_01-](https://user-images.githubusercontent.com/49206040/191460273-81a87e64-907c-42c6-9c8a-2cf385dd63ce.png)

### ****Expected behavior****
We want to only appear in

[2022-09-21 09:30] ghost commented on #969
Thank ou Pedra for fast response.

unfortunately it's not for higher version as 10.0 available. Is it generell a dangerous idea to manipulate this relations? or is this module especially dangerous? Is this problem unique to us or a problem that occurs very often? Then, maybe it gives a better idea to handle this. I ask because we want support and sponsor a good/the best solution for all odoo users

[2022-09-22 07:31] ns-landoo commented on #970
@tafaRU Can you help us?

[2022-10-02 12:42] #782 closed, assigned to nobody

[2022-10-02 12:42] #814 closed, assigned to nobody

[2022-10-03 07:09] sbidoul opened #974 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] base_search_mail_content - By @Highcooley - #1154
- [x] base_user_signature - By @Saran440 - #1365
- [ ] fetchmail_thread_default - By @ntsirintanis - #1329
- [x] mail_activity_board - By @augusto-weiss - #1006
- [ ] mail_activity_creator
- [ ] mail_activity_done - By @ignissak - #1059
- [ ]

[2022-10-03 10:00] jabelchi commented on #840
Tested today in runbot for Social, V13. It still happens.

[2022-10-09 12:42] #838 closed, assigned to nobody

[2022-10-27 07:51] #884 closed, assigned to Shide

[2022-10-30 12:39] #520 closed, assigned to nobody

[2022-11-06 12:36] #840 closed, assigned to nobody

[2022-11-13 12:37] #851 closed, assigned to nobody

[2022-11-14 15:24] nicomacr commented on #789
`mail_attach_existing_attachment_account` migrated here: https://github.com/OCA/social/pull/999

[2022-11-19 23:25] accamaster opened #1003 "mail_debrand incompatible with mail_notification_custom_subject"
Uninstalling mail_debrand renders mail_notification_custom_subject fully functional

## Module
The name of the module that has a bug.
mail_debrand

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
**Affected versions**:
v15

Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Add

[2022-11-28 06:55] Zebrando opened #1004 "after installing mail debrand in odoo 15 community edition digest email not display properly showing HTML code instead of message"
Hi,

I have an issue after installing mail debrand in odoo 15 community edition digest email does not display properly, showing HTML code instead of the message, is there any solution for this? below is the attached screenshot.
![image](https://user-images.githubusercontent.com/106875727/204213637-a0a16304-8014-4667-a389-50b82b661ad6.png)

[2022-11-29 18:52] augusto-weiss commented on #974
mail_activity_board #1006